.back-btn {
    padding: 0;
    font-size: 1.25rem;
    float: right;
}

.page-jump {
    float: left;
    padding: 4px;
    color: #6d6161;

    input {
        width: 50px;
        text-align: center;
    }
}
.page-jump-btn {
    float: right;
}
table {
    tr {
        text-align: center;
    }
    td {
        text-align: center;
    }
}  