<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="head">
        <span class="detail">
          <a (click)="goBack()"> Agent Details </a> 
           <i class="fa fa-chevron-right"></i> 
           <span class="agent-title" > {{parentAgentInfo.username}}</span> 
        </span>
        <a class="btn back-btn" href="javascript:void(0)" (click)="goBack()">
          <i class="icon-arrow-left-circle" aria-hidden="true"></i>
        </a>
      </div>
      <div class="card-body custom-listing-table">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Agent Management
            <button class="btn btn-sm btn-primary create-button" type="button"><a href="javascript:void(0);"
                [routerLink]="['/agent/new']">
                <i class="nav-icon icon-plus"></i> Create</a></button>
          </h1>
          <!-- <span class="input-group-prepend">
            <a class="btn btn-warning" [routerLink]="['/agent/new']"> Create New Agent</a>
          </span> -->
          <h5 class="mb-0 text-gray-800">Total Record : {{totalAgents}}</h5>
        </div>
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Username</th>
              <th>Name</th>
              <th>Phone Number</th>
              <th>Score</th>
              <th>Last Login</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="error">
              <td colspan="7" class="table-danger">There was an error</td>
            </tr>
            <tr *ngIf="!error && !agentList">
              <td colspan="7">Loading...</td>
            </tr>
            <tr *ngIf="agentList && !(agentList.length>0)">
              <td colspan="7" class="text-center">No Agent Found</td>
            </tr>
            <tr *ngFor="let agent of agentList; let agentIndex = index">
              <!-- <td class="username" routerLink="{{agent.admin_id}}" >{{ agent.username || "-" }}</td> -->
              <td class="username"><a href="agent/{{agent.admin_id}}">{{ agent.username || "-" }} </a></td>
              <td>{{ agent.name || "-" | titlecase }}</td>
              <td>{{ agent.phone || "-" }}</td>
              <td>{{ agent.balance}}</td>
              <td>{{ formatDateTimeZone(agent.last_login) | date: dateFormatString}} </td>
              <td>
                <span class="badge"
                  [ngClass]="{'badge-success': (agent.status == 1), 'badge-secondary': (agent.status == 0), 'badge-danger': (agent.status > 1)}">{{AgentStatus[agent.status]
                  }}</span>
              </td>
              <td>
                <a href="javascript:void(0);" *ngIf="agent.status == 0"
                  (click)="changeAgentStatus(agent.admin_id, '1')"><i class="fa fa-address-book"></i> Enable</a>
                &nbsp;
                <a href="javascript:void(0);" *ngIf="agent.status == 1"
                  (click)="changeAgentStatus(agent.admin_id, '0')"><i class="fa fa-address-book"></i> Disable</a>

              </td>
            </tr>
          </tbody>
        </table>
        <nav *ngIf="totalAgents > params.per_page">
          <ul class="pagination">
            <li class="page-item" *ngIf="params.current_page > 1">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">Prev</a>
            </li>
            <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"
              *ngFor="let page of totalPaginationShow">
              <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
            </li>
            <li class="page-item" *ngIf="params.current_page != totalPages">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<app-user-list></app-user-list>



<!-- <div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body custom-listing-table">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Player Management
            <button class="btn btn-sm btn-primary create-button" type="button"><a href="javascript:void(0);"
                [routerLink]="['/users/new']">
                <i class="nav-icon icon-plus"></i> Create</a></button>
          </h1>
          <h5 class="mb-0 text-gray-800">Total Record : {{totalUsers}}</h5>
        </div>
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Username</th>
              <th>Name</th>
              <th>Phone Number</th>
              <th>Score</th>
              <th>Last Login</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="error">
              <td colspan="7" class="table-danger">There was an error</td>
            </tr> 
            <tr *ngIf="!error && !userList">
              <td colspan="7">Loading...</td>
            </tr>
            <tr *ngIf="userList && !(userList.length>0)">
              <td colspan="7" class="text-center">No Player found</td>
            </tr>
            <tr *ngFor="let player of userList; let userIndex = index">
              <td class="username" routerLink="/users/{{player.user_id}}" >{{ player.username || "-" }}</td>
              <td>{{ player.name || "-" | titlecase }}</td>
              <td>{{ player.phone || "-" }}</td>
              <td>{{ player.balance}}</td>
              <td>{{ formatDateTimeZone(player.last_login) | date: dateFormatString}} </td>

              <td>
                <span class="badge"
                  [ngClass]="{'badge-success': (player.status == 1), 'badge-secondary': (player.status == 0), 'badge-danger': (player.status > 1)}">{{userStatus[player.status]
                  }}</span>
              </td>
              <td>
               
                <a href="javascript:void(0);" *ngIf="player.status == 0"
                  (click)="changeAgentStatus(player.user_id, '1')"><i class="fa fa-address-book"></i> Enable</a>
                &nbsp;
                <a href="javascript:void(0);" *ngIf="player.status == 1"
                  (click)="changeAgentStatus(player.user_id, '0')"><i class="fa fa-address-book"></i> Disable</a>

              </td>
            </tr>
          </tbody>
        </table>
        <nav *ngIf="totalUsers > params.per_page">
          <ul class="pagination">
            <li class="page-item" *ngIf="params.current_page > 1">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPageUser(-1)">Prev</a>
            </li>
            <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"
              *ngFor="let page of totalPaginationShowUser">
              <a class="page-link" href="javascript:void(0);" (click)="paginateListUser(page)">{{ page }}</a>
            </li>
            <li class="page-item" *ngIf="params.current_page != totalPagesUser">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPageUser(1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div> -->


<app-loader></app-loader>
