<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body custom-listing-table">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Notifications
            <button class="btn btn-sm btn-primary create-button" type="button"><a href="javascript:void(0);" [routerLink]="['/notifications/new']">
              <i class="nav-icon icon-plus"></i> Create</a></button>
          </h1>
        </div>
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Receiver's Username</th>
              <th>Title</th>
              <th>Message</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="error">
              <td colspan="3" class="table-danger">There was an error</td>
            </tr>
            <tr *ngIf="!error && !notificationList">
              <td colspan="3">Loading...</td>
            </tr>
            <tr *ngFor="let notification of notificationList">
              <td>{{ notification.receiver_username }} {{ notification.receiver_agentname }}</td>
              <td>{{ notification.title }}</td>
              <td>{{ notification.notification }}</td>
            </tr>
          </tbody>
        </table>
        <nav *ngIf="totalNotifications > params.itemsPerPage">
          <ul class="pagination">
            <li class="page-item" *ngIf="params.currentPage > 1">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">Prev</a>
            </li>
            <li class="page-item active" [ngClass]="{'active': (page == params.currentPage)}"
              *ngFor="let page of totalPaginationShow">
              <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
            </li>
            <li class="page-item" *ngIf="params.currentPage != totalPages">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<app-loader></app-loader>
