<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Match News</h1>
          <a class="btn back-btn" routerLink="/matches">
            <i class="icon-arrow-left-circle" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-sm-12">
          <div *ngIf="error" class="alert alert-danger" role="alert">
            There was an error
          </div>
          <div *ngIf="!error && !matchData">Loading...</div>
          <div *ngIf="matchData" class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="font-weight-bold text-primary title">{{ matchData.league_name }} -
                {{matchData.league_country}}
              </h6>
              <b class="scheduled-date">Scheduled At:
                {{ formatDate(matchData.scheduled_date_time) | date:'MMMM d, y, h:mm:ss a' }}</b>
              <p>({{matchData.home_team_name}} vs {{matchData.away_team_name}})</p>
            </div>
            <div class="card-body">
              <div class="col-sm-12">
                <form [formGroup]="form" class="custom-editor" (ngSubmit)="handleNewsSubmit()">
                  <quill-editor #editor [styles]="{height: '200px'}" [formControl]="form.controls['editor']"
                    [maxLength]="5000">
                  </quill-editor>
                  <div class="text-right">
                    <button type="button" (click)="cancelSubmit()"
                      class="btn btn-warning submit-btn">Cancel</button>&nbsp;
                    <button type="submit" class="btn btn-primary submit-btn" [disabled]="submitDisabled">Submit</button>
                  </div>
                </form>
                <div class="card">
                  <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">News List</h6>
                  </div>
                  <div class="card-body">
                    <div *ngIf="!matchNews && !newsError; else error">Loading ...</div>
                    <ng-template #error>
                      <div *ngIf="newsError; else noNews">There was an error</div>
                    </ng-template>
                    <ng-template #noNews>
                      <div *ngIf="!matchNews.length; else newsList">No news found</div>
                    </ng-template>
                    <ng-template #newsList>
                      <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <th>Date</th>
                            <th>News</th>
                            <th>Action</th>
                          </tr>
                          <tr *ngFor="let news of matchNews">
                            <td>{{formatDate(news.created_date) | date:'MMMM d, y, h:mm:ss a'}}</td>
                            <td innerHtml="{{news.news}}"></td>
                            <td>
                              <a href="javascript:void(0);" (click)="handleEdit(news)"><i
                                  class="icon-pencil"></i></a>&nbsp;
                              <a href="javascript:void(0);" (click)="handleDelete(news.season_news_id)"><i
                                  class="icon-trash"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-loader></app-loader>
