<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <form class="form-horizontal" [formGroup]="checkForm" (ngSubmit)="onSubmit()">
        <div class="card-header">
          <strong>Change Security Password</strong>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="username">Old Security Password<span class="text-danger">*</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="oldSecurityPassword">
              <div *ngIf="submitted && f['oldSecurityPassword'].errors" class="text-danger">
                <div *ngIf="f['oldSecurityPassword'].errors.required">Old Security Password is required</div>
                <div *ngIf="f['oldSecurityPassword'].errors.minlength">Old Security Password must have greater than 6 characters</div>
                <div *ngIf="f['oldPSecurityassword'].errors.maxlength">Old Security Password must have less than 50 characters</div>
                <div *ngIf="f['oldSecurityPassword'].errors.pattern"> Old Security Password must begin with a letter and must only contain
                  alphanumeric characters or
                  _(underscore)</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="password">New Security Password<span class="text-danger">*</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="securityPassword">
              <div *ngIf="submitted && f['securityPassword'].errors" class="text-danger">
                <div *ngIf="f['securityPassword'].errors.required">Security Password is required</div>
                <div *ngIf="f['securityPassword'].errors.minlength">Security Password must have greater than 6 characters</div>
                <div *ngIf="f['securityPassword'].errors.maxlength">Security Password must have less than 20 characters</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="password">Confirm Security Password<span class="text-danger">*</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="confirmSecurityPassword">
              <div *ngIf="submitted && f['confirmSecurityPassword'].errors" class="text-danger">
              <div *ngIf="submitted && f['confirmSecurityPassword'].errors" class="text-danger">
                <div *ngIf="f['confirmSecurityPassword'].errors.required">Confirm Security Password is required</div>
                <div *ngIf="f['confirmSecurityPassword'].errors.minlength">Confirm Security Password must have greater than 3 characters</div>
                <div *ngIf="f['confirmSecurityPassword'].errors.maxlength">Confirm Security Password must have less than 20 characters</div>
              </div>
            </div>
          </div>
        </div>
       </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i>
            Submit</button>
          &nbsp;
          <button class="btn btn-sm btn-danger" type="button" (click)="handleReset()"><i class="fa fa-ban"></i>
            Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
