<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Contest Detail</h1>
          <a class="btn back-btn" routerLink="/contest/list">
            <i class="icon-arrow-left-circle" aria-hidden="true"></i>
          </a>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div *ngIf="error" class="alert alert-danger" role="alert">
              There was an error
            </div>
            <div *ngIf="!error && !contest">Loading...</div>
            <div *ngIf="contest" class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{contest.contest_name| titlecase }}</h6>
              </div>
              <div class="card-body contest-detail">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-12 col-sm-3">
                      <b>Unique Id</b>
                    </div>
                    <div class="col-12 col-sm-9">
                      {{contest.contest_uid}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-12 col-sm-3">
                      <b>Event Name</b>
                    </div>
                    <div class="col-12 col-sm-9">
                      {{contest.event_name}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-12 col-sm-3">
                      <b>Master Game Style</b>
                    </div>
                    <div class="col-12 col-sm-9">
                      {{contest.master_game_style}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-12 col-sm-3">
                      <b>Start Date</b>
                    </div>
                    <div class="col-12 col-sm-9">
                      {{formatDateTimeZone(contest.start_date) | date: dateFormatString}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-12 col-sm-3">
                      <b>End Date</b>
                    </div>
                    <div class="col-12 col-sm-9">
                      {{formatDateTimeZone(contest.end_date) | date: dateFormatString}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-12 col-sm-3">
                      <b>Status</b>
                    </div>
                    <div class="col-12 col-sm-1 badge"
                      [ngClass]="{'badge-success': (contest.status == 0 || contest.status == 1 || contest.status == 3 ), 'badge-secondary': (contest.status == 2)}">
                      {{contestStatus[contest.status]}}
                    </div>
                  </div>
                </div>
                <!-- <div class="col-sm-12">
                  <div class="row">
                    <div class="col-12 col-sm-3">
                      <b>Projected Drafting End Date</b>
                    </div>
                    <div class="col-12 col-sm-9">
                      {{ formatDateTimeZone(contest.projected_drafting_end_date) | date: dateFormatString }}
                    </div>
                  </div>
                </div> -->
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-12 col-sm-3">
                      <b>Size</b>
                    </div>
                    <div class="col-12 col-sm-9">
                      {{contest.size}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-12 col-sm-3">
                      <b>Prize Pool</b>
                    </div>
                    <div class="col-12 col-sm-9">
                      ${{contest.prize_pool}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-12 col-sm-3">
                      <b>Entry Fees</b>
                    </div>
                    <div class="col-12 col-sm-9">
                      ${{contest.entry_fees}}
                    </div>
                  </div>
                </div>
                <!-- <div class="col-sm-12">
                  <div class="row">
                    <div class="col-12 col-sm-3">
                      <b>Draft Type</b>
                    </div>
                    <div class="col-12 col-sm-9">
                      Live Snake Draft
                    </div>
                  </div>
                </div> -->
                <ng-template #notAvailable>
                  <div class="col-12 col-sm-9 font-italic text-danger">Not Available</div>
                </ng-template>
              </div>
            </div>
            <div class="card">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Prize Composition</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="col-12 col-sm-12">
                      <table class="table table-bordered">
                        <tbody>
                          <tr class="custom-table-heading">
                            <th>Title</th>
                            <th>Amount</th>
                          </tr>
                          <tr class="participants" *ngFor="let prize of prizeComposition">
                            <td>{{prize.key}}</td>
                            <td>{{ prize.value }} </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Winners</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="col-12 col-sm-12">
                          <table class="table table-bordered">
                            <tbody>
                              <tr class="custom-table-heading">
                                <th>Full Name</th>
                                <th>Winning Amount($)</th>
                                <th>Total Score</th>
                              </tr>
                              <tr class="winners" *ngFor="let winner of winners">
                                <td>{{winner.user.first_name}} {{winner.user.last_name}}</td>
                                <td>{{ winner.won_amount }} </td>
                                <td>{{ winner.score }} </td>
                              </tr>
                              <tr *ngIf="winners.length == 0">
                                <td colspan="3">There are no winners in this competition
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Participants</h6>
              </div>
              <div class="card-body">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="col-12 col-sm-12">
                            <table class="table table-bordered">
                              <tbody>
                                <tr class="custom-table-heading">
                                  <th>Full Name (User Name)</th>
                                  <!-- <th>Username</th> -->
                                  <th>Total Score</th>
                                </tr>
                                <tr class="participants" *ngFor="let participant of participants">
                                  <td>{{participant.first_name}} {{participant.last_name}} <span *ngIf="participant.user_name">({{ participant.user_name}})</span></td>
                                  <!-- <td>{{ participant.user.user_name }} </td> -->
                                  <td>{{ participant.total_score }} </td>
                                </tr>
                                <tr *ngIf="participants.length == 0">
                                  <td colspan="3">There are no participants in this competition
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <nav *ngIf="totalTransactions > params.per_page">
                              <ul class="pagination">
                                <li class="page-item" *ngIf="params.current_page > 1">
                                  <a class="page-link" href="javascript:void(0);"
                                    (click)="nextOrPreviousPage(-1)">Prev</a>
                                </li>
                                <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"
                                  *ngFor="let page of totalPaginationShow">
                                  <a class="page-link" href="javascript:void(0);"
                                    (click)="paginateList(page)">{{ page }}</a>
                                </li>
                                <li class="page-item" *ngIf="params.current_page != totalPages">
                                  <a class="page-link" href="javascript:void(0);"
                                    (click)="nextOrPreviousPage(1)">Next</a>
                                </li>
                              </ul>
                            </nav>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Player Picks</h6>
              </div>
              <div class="card-body">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="col-12 col-sm-12">
                            <table class="table table-bordered">
                              <tbody>
                                <tr class="custom-table-heading">
                                  <th>Full Name</th>
                                  <th>Match</th>
                                  <th>Player Pick</th>
                                  <th>Victory Type</th>
                                  <th>Round</th>
                                </tr>
                                <tr class="fighterPicsUser" *ngFor="let playerPic of fighterPicsUser">
                                  <td>{{playerPic.first_name}} {{playerPic.last_name}}</td>
                                  <td>{{playerPic.home_player_first_name}} {{playerPic.home_player_last_name}} 'vs' {{playerPic.away_player_first_name}} {{playerPic.away_player_last_name}}</td>
                                  <td>{{playerPic.player_winner_first_name}} {{playerPic.player_winner_last_name}}</td>
                                  <td>{{ playerPic.victory_type_name }} </td>
                                  <td>{{ playerPic.pick_round }} </td>
                                </tr>
                                <tr *ngIf="fighterPicsUser.length == 0">
                                  <td colspan="3">There are no player picks in this competition
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <!-- <nav *ngIf="totalTransactions > params.per_page">
                              <ul class="pagination">
                                <li class="page-item" *ngIf="params.current_page > 1">
                                  <a class="page-link" href="javascript:void(0);"
                                    (click)="nextOrPreviousPage(-1)">Prev</a>
                                </li>
                                <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"
                                  *ngFor="let page of totalPaginationShow">
                                  <a class="page-link" href="javascript:void(0);"
                                    (click)="paginateList(page)">{{ page }}</a>
                                </li>
                                <li class="page-item" *ngIf="params.current_page != totalPages">
                                  <a class="page-link" href="javascript:void(0);"
                                    (click)="nextOrPreviousPage(1)">Next</a>
                                </li>
                              </ul>
                            </nav> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
