<div class="row">
  <div class="col-lg-12">
    <div class="card filter">
      <form class="form-horizontal" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="card-header d-flex justify-content-between">
          <strong> {{'search.searchUser' | translate}}</strong>
          <a class="btn back-btn" href="javascript:void(0)" (click)="goBack()">
            <i class="icon-arrow-left-circle" aria-hidden="true"></i>
          </a>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-6 col-lg-4">
              <div class="d-md-flex">
                <input type="text" class="form-control mr-4" formControlName="username" placeholder="{{'search.search' | translate}}">
                <div *ngIf="submitted && f['username'].errors" class="text-danger">
                  <div *ngIf="f['username'].errors.required">{{'search.UserNameIsRequired' | translate}}</div>
                </div>
                <button class="btn btn-lg-sm btn-primary search-btn" type="submit"><i class="fa fa-search"></i>
                  {{'search.submit' | translate}}</button>
              </div>    
            </div>
            
          </div>
        </div>
      </form>


      <div class="card-body custom-listing-table" *ngIf="showList === true">
        <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm admin-table">
          <thead>
            <tr>
              <th>{{'search.userName' | translate}}</th>
              <th>{{'search.online' | translate}}</th>
              <th>{{'search.agent' | translate}}</th>
              <th>{{'search.balance' | translate}}</th>
              <th>{{'search.phone' | translate}}</th>
              <th>{{'search.description' | translate}}</th>
              <th>{{'search.operation' | translate}} </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="error">
              <td colspan="7" class="table-danger">There was an error</td>
            </tr>
            <tr *ngIf="!error && !userList">
              <td colspan="7">Loading...</td>
            </tr>
            <tr *ngIf="userList && !(userList.length>0)">
              <td colspan="7" class="text-center"> {{'search.noLoginIpFound' | translate}} </td>
            </tr>
            <tr *ngFor="let user of userList; let userIndex = index">
              <td>{{user.username}}</td>
              <td>{{'search.off' | translate}} (0 day)</td>
              <td>{{ user.agent_name }}</td>
              <td>{{ user.balance }} </td>
              <td>{{ user.phone }} </td>
              <td>{{ user.description }} </td>
              <td>
                <button href="javascript:void(0);" class="btn-warning" [routerLink]="['/score-log', user.user_id]"> {{'search.setScore' | translate}} </button> 
                <button href="javascript:void(0);" class="btn-warning" [routerLink]="['/score-log']" [queryParams]="{ user_id: user.user_id}"> {{'search.scoreLog' | translate}} </button>
                <button href="javascript:void(0);" class="btn-warning" [routerLink]="['/users', user.user_id]" > {{'search.edit' | translate}} </button> 
                <button href="javascript:void(0);" class="btn-warning" [routerLink]="['/agent/reports', user.user_id]"> {{'search.reports' | translate}} </button>
                <button href="javascript:void(0);" class="btn-warning" [routerLink]="['/game-log']" [queryParams]="{ user_id: user.user_id}"> {{'search.gameLog' | translate}} </button>
                <button href="javascript:void(0);" class="btn-warning"   *ngIf="user.status == 0"
                (click)="changeUserStatus(user.user_id, '1')"> {{'search.enable' | translate}} </button> 
                <button href="javascript:void(0);" class="btn-warning"  *ngIf="user.status == 1"
                (click)="changeUserStatus(user.user_id, '0')"> {{'search.disable' | translate}} </button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>

  </div>
</div>

<app-loader></app-loader>
