<div class="row">
  <div class="col-lg-12">
    <div class="card filter">
      <form class="form-horizontal" [formGroup]="scorLogForm" (ngSubmit)="onSubmit()">
        <div class="card-header d-flex justify-content-between">
          <strong>{{'scoreLog.scorelog' | translate}}</strong>
          <a class="btn back-btn" href="javascript:void(0)" (click)="goBack()">
            <i class="icon-arrow-left-circle" aria-hidden="true"></i>
          </a>
        </div>
        <div class="card-body">

          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="username">{{'scoreLog.userName' | translate}} <span class="text-danger">*</span></label>
            <div class="col-md-6">
              <input type="text" class="form-control" formControlName="userName" placeholder="{{'scoreLog.enter' | translate}}">
            
              <div *ngIf="submitted && f['userName'].errors" class="text-danger">
                <div *ngIf="f['userName'].errors.required">{{ 'scoreLog.userNameIsRequired' | translate}}</div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="username">{{'scoreLog.date' | translate}} <span class="text-danger">*</span></label>
            <div class="col-md-6">

              <input type="text" class="form-control cursor-pointer"
                placeholder="{{'scoreLog.selectDateRange' | translate}}" #dp="bsDaterangepicker" formControlName="date" bsDaterangepicker readonly autocomplete="off" [maxDate]="maxDate" [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default', showWeekNumbers:false }">
              
              <!-- <input type="text" class="form-control" formControlName="date" placeholder="{{'scoreLog.score' | translate}}"> -->
            
              <div *ngIf="submitted && f['date'].errors" class="text-danger">
                <div *ngIf="f['date'].errors.required">{{ 'scoreLog.dateIsRequired' | translate}}</div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>

        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i>
            {{'scoreLog.submit' | translate}}</button>
          &nbsp;
          <button class="btn btn-sm btn-danger" type="button" (click)="handleReset()"><i class="fa fa-ban"></i>
            {{'scoreLog.reset' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="row" *ngIf="showTable === true">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body custom-listing-table">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h5 class="mb-0 text-gray-800">{{ 'scoreLog.totalRecord' | translate}}: {{totalScoreLog}}</h5>
        </div>
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>{{'scoreLog.account' | translate}}</th>
              <th>{{'scoreLog.userName' | translate}}</th>
              <th>{{'scoreLog.SetScore' | translate}}</th>
              <th>{{'scoreLog.beforeScore' | translate}}</th>
              <th>{{'scoreLog.afterScore' | translate}}</th>
              <th>{{'scoreLog.ipAddress' | translate}}</th>
              <th>{{'scoreLog.dateTime' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="error">
              <td colspan="7" class="table-danger">{{'scoreLog.thereWasError' | translate}} </td>
            </tr>
            <tr *ngIf="!error && !scoreLogList">
              <td colspan="7">Loading...</td>
            </tr>
            <tr *ngIf="scoreLogList && !(scoreLogList.length>0)">
              <td colspan="7" class="text-center"> {{'scoreLog.noTransactionFound' | translate}}</td>
            </tr>
            <tr *ngFor="let score of scoreLogList; let scoreIndex = index">
              <td>{{ score.account.username || "-" }}</td>
              <td>{{ score.username || "-" }}</td>
              <td>{{ score.set_score || "-" }}</td>
              <td>{{ score.before_score || "-" }}</td>
              <td>{{ score.after_score || "-" }}</td>
              <td>{{ score.ip || "-" }}</td>
              <td>{{ score.date_created || "-" }}</td>
            </tr>
          </tbody>
        </table>
        <nav *ngIf="totalScoreLog > params.per_page">
          <ul class="pagination">
            <li class="page-item" *ngIf="params.current_page > 1">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">{{'scoreLog.prev' | translate}}</a>
            </li>
            <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"
              *ngFor="let page of totalPaginationShow">
              <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
            </li>
            <li class="page-item" *ngIf="params.current_page != totalPages">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">{{'scoreLog.next' | translate}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<app-loader></app-loader>
