.back-btn {
  padding: 0;
  font-size: 1.53125rem;
}

.title {
  display: inline-block;
}

.scheduled-date {
  float: right;
}

.win .icon-badge {
  font-weight: bold;
}

td.win,
th.win {
  background-color: #d9f3e2;
}

.team-data th span {
  font-weight: 100;
  font-size: 13px;
}
