$background-purple: #7811e1;
$black: #000;
$dark-green: #475037;
$darker-green: #393e2b;
$light-green: #c2d59c;
$green: #008000;
$winning-green: #0e6545;
$active-green: #627f2c;
$dark-purple: #4a228d;
$darker-purple: #3a1971;
$white: #fff;
$yellow: #e59e23;
$light-yellow: #eda424;
$orange: $light-yellow;

.orange {
  color: $orange
}
