<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Fight Details</h1>
          <a class="btn back-btn" routerLink="/matches">
            <i class="icon-arrow-left-circle" aria-hidden="true"></i>
          </a>
        </div>
        <div *ngIf="error" class="alert alert-danger" role="alert">
          There was an error
        </div>
        <div *ngIf="!error && !matchInfo">Loading...</div>
        <div *ngIf="matchInfo" class="card shadow mb-4">
          <div class="card-header match-title py-3">
            <span class="m-0 font-weight-bold text-primary" *ngIf='matchInfo.favourite_fighter_first_name'>
              {{matchInfo.favourite_fighter_first_name}} {{matchInfo.favourite_fighter_last_name}}
            </span>
            <b> VS </b>
            <span class="m-0 font-weight-bold text-primary" *ngIf='matchInfo.underdog_fighter_first_name'>
              <!-- {{matchTitle.awayTeamName +' ('+matchTitle.awayABBR+')'}} -->
              {{matchInfo.underdog_fighter_first_name}} {{matchInfo.underdog_fighter_last_name}}
            </span>

          </div>
          <div class="card-body match-detail">
            <div class="col-sm-12" style="padding:10px;">
              <div class="row">
                <div class="col-12 col-sm-3">
                  <b>Match Unique Id</b>
                </div>
                <div class="col-12 col-sm-9" *ngIf="matchInfo.match_unique_id; else notAvailable">
                  <div>{{matchInfo.match_unique_id}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-3">
                  <b>Match Id</b>
                </div>
                <div class="col-12 col-sm-9" *ngIf="matchInfo.match_id; else notAvailable">
                  <div>{{matchInfo.match_id}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-3">
                  <b>Match Day</b>
                </div>
                <div class="col-12 col-sm-9" *ngIf="matchInfo.scheduled_date_time; else notAvailable">
                  <div>{{matchInfo.scheduled_date_time}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-3">
                  <b>Combat Type</b>
                </div>
                <div class="col-12 col-sm-9" *ngIf="matchInfo.scheduled_date_time; else notAvailable">
                  <div>{{matchInfo.combat_type}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-3">
                  <b>Weight Class</b>
                </div>
                <div class="col-12 col-sm-9" *ngIf="matchInfo.weight_class_name; else notAvailable">
                  <div>{{matchInfo.weight_class_name}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-3">
                  <b>Preview</b>
                </div>
                <div class="col-12 col-sm-9" *ngIf="matchInfo.preview_name; else notAvailable">
                  <div>{{matchInfo.preview_name}}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-3">
                  <b>Review</b>
                </div>
                <div class="col-12 col-sm-9" *ngIf="matchInfo.review_name; else notAvailable">
                  <div>{{matchInfo.review_name}}</div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-sm-3">
                  <b>Championship</b>
                </div>
                <div class="col-12 col-sm-9" *ngIf="matchInfo.championship; else notAvailable">
                  <div *ngIf="matchInfo.championship ==true">Yes</div>
                  <div *ngIf="matchInfo.championship =='false'">No</div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-sm-3">
                  <b>Title Fight</b>
                </div>
                <div class="col-12 col-sm-9" *ngIf="matchInfo.title_fight !=null; else notAvailable">
                  <div *ngIf="matchInfo.title_fight ==true">Yes</div>
                  <div *ngIf="matchInfo.title_fight ==false">No</div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-sm-3">
                  <b>Main Event</b>
                </div>
                <div class="col-12 col-sm-9" *ngIf="matchInfo.main_event !=null; else notAvailable">
                  <div *ngIf="matchInfo.main_event ==true">Yes</div>
                  <div *ngIf="matchInfo.main_event ==false">No</div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-sm-3">
                  <b>Round</b>
                </div>
                <div class="col-12 col-sm-9" *ngIf="matchInfo.round !=null; else notAvailable">
                  <div>{{matchInfo.round}}</div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-sm-3">
                  <b>Blue corner point</b>
                </div>
                <div class="col-12 col-sm-9" *ngIf="matchInfo.home_point !=null; else notAvailable">
                  <div>{{matchInfo.home_point}}</div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-sm-3">
                  <b>Red corner point</b>
                </div>
                <div class="col-12 col-sm-9" *ngIf="matchInfo.away_point !=null; else notAvailable">
                  <div>{{matchInfo.away_point}}</div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="col-12 col-sm-3">
                    <b>Blue Corner</b>
                  </div>
                  <div class="col-12 col-sm-9" *ngIf="matchInfo.favourite_fighter_first_name; else notAvailable">
                    <div>First Name - {{matchInfo.favourite_fighter_first_name}}</div>
                    <div>Last Name - {{matchInfo.favourite_fighter_last_name}}</div>
                    <div>Nick Name - {{matchInfo.favourite_fighter_nick_name}}</div>
                    <div>
                      <img *ngIf="matchTitle['favourite_player_image']" [src]="matchTitle.favourite_player_image" height="150">
                      <img *ngIf="!matchTitle.favourite_player_image" src="assets/img/default_team_logo.png" width="40px;">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                <div class="col-12 col-sm-3">
                  <b>Red Corner</b>
                </div>
                <div class="col-12 col-sm-9" *ngIf="matchInfo.underdog_fighter_first_name; else notAvailable">
                  <div>First Name - {{matchInfo.underdog_fighter_first_name}}</div>
                  <div>Last Name - {{matchInfo.underdog_fighter_last_name}}</div>
                  <div>Nick Name - {{matchInfo.underdog_fighter_nick_name}}</div>
                  <div>
                    <img *ngIf="matchTitle.underdog_player_image" [src]="matchTitle.underdog_player_image" height="150">
                    <img *ngIf="!matchTitle.underdog_player_image" src="assets/img/default_team_logo.png" width="40px;">
                  </div>
                </div>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-12 col-sm-3">
                  <b>{{matchProperty.key | removeUnderscore | titlecase}}</b>
                </div>
                <div class="col-12 col-sm-9"
                  *ngIf="matchProperty.value && (matchProperty.key==='match_date') ;else activeStatus; ">
                  <div> {{formatDateTimeZone(matchProperty.value) | date:dateFormatString}} </div>
                </div>
              </div> -->


              <ng-template #activeStatus>
                <div class="col-12 col-sm-9"
                  *ngIf="matchProperty.value && matchProperty.key==='status';else matchResult;" >
                  <span style="font-size: 14px;" class="badge"
                    [ngClass]="{'badge-success': (matchProperty.value == 'final' || matchProperty.value == 'Final' || matchProperty.value == 'Not Started' )}">{{matchProperty.value| titlecase}}</span>
                </div>
              </ng-template>
              <ng-template #matchResult>
                <div class="col-12 col-sm-9"
                  *ngIf="matchProperty.value && matchProperty.key==='match_result' && matchProperty.value!='{}';else matchValue;">
                  {{getJsonValueOfKey(matchProperty.value,'home') + ' : ' + getJsonValueOfKey(matchProperty.value,'away') }}
                </div>
              </ng-template>
              <ng-template #matchValue>
                <div class="col-12 col-sm-9"
                  *ngIf="matchProperty.value && matchProperty.value!='{}';else notAvailable;">
                  {{matchProperty.value}} </div>
              </ng-template>

            </div>
            <ng-template #notAvailable>
              <div class="col-12 col-sm-9 font-italic text-danger">Not Available</div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>