.back-btn {
  padding: 0;
  font-size: 1.53125rem;
}

.title {
  display: inline-block;
}

.scheduled-date {
  float: right;
}

.win .icon-badge {
  font-weight: bold;
}

td.win,
th.win {
  background-color: #d9f3e2;
}

.team-data th span {
  font-weight: 100;
  font-size: 13px;
}

tr.custom-table-heading {
  background-color: #2f353a;
  color: white;
  text-transform: capitalize;

}

.match-table {
  background-color:#f0f3f5;

}

.match-detail .row{
  padding: 5px;
}

.team2 {
  display: block;
}
.row-margin {
  margin-top:0px;
  margin-left:0px;
  margin-right: 0px;
  border: none;
}
.stats-match-row-pading {
 padding-left:30px;
 padding-top: 0px;
 padding-bottom: 5px;
 padding-right: 0px ;
}
.list-inline {
  margin-bottom:0px;
  padding-top: 10px ;
}

.card-body .card-header {
  padding: 3px;
  .stats-match-row-pading div {
    padding-left: 25px;
  }
}
.match-title {
  padding-left: 25px !important;
}

