<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card-group">
        <div class="card p-4">
          <form *ngIf="formType === 0" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="card-body">
              <div class="logo-content">
                <img [src]="logo" />
              </div>
              <h1>{{'home.login' | translate }}</h1>
              <p class="text-muted">{{'home.signInText' | translate}}</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-user"></i>
                  </span>
                </div>
                <input class="form-control" type="text" placeholder="{{'home.username' | translate}}"
                  formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                  <div *ngIf="f['username'].errors.required">{{'home.usernameReq' | translate}}</div>
                </div>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input type="password" placeholder="{{'home.password' | translate}}" formControlName="password"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors.required">{{'home.passwordReq' | translate}}</div>
                  <div *ngIf="f['password'].errors.minlength">{{'home.passwordMinLen' | translate}}
                  </div>
                </div>
              </div>

              <!-- <ngx-recaptcha2 #captchaElem
                                [siteKey]="siteKey"
                                (reset)="handleReset()"
                                (success)="handleSuccess($event)"
                                [useGlobalDomain]="false"
                                [theme]="'light'"
                                formControlName="recaptcha">
                            </ngx-recaptcha2> -->

              <div class="row">
                <div class="col-6">
                  <input class="btn btn-primary px-4" type="submit" value="{{'home.login' | translate }}" />
                </div>
              </div>
            </div>
          </form>
          <form *ngIf="formType === 1 && setPasswordForm" [formGroup]="setPasswordForm" (ngSubmit)="onSubmitPassword()">
            <div class="card-body">
              <div class="logo-content">
                <img [src]="logo" />
              </div>
              <h1>{{'home.setPersonalPass' | translate }}</h1>
              <p class="text-muted">{{'home.setPasswordText' | translate }}</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input class="form-control" type="password" placeholder="{{'home.personalPassword' | translate }}"
                  formControlName="password" [ngClass]="{ 'is-invalid': setPasswordSubmitted && pf?.password?.errors }">
                <div *ngIf="setPasswordSubmitted && pf['password'].errors" class="invalid-feedback">
                  <div *ngIf="pf['password'].errors.required">{{'home.personalPasswordReq' | translate }}</div>
                  <div *ngIf="pf['password'].errors.minlength">{{'home.passwordMinLen' | translate }}
                  </div>
                  <div *ngIf="pf['password'].errors.maxlength">{{'home.passwordMaxLen' | translate }}
                  </div>
                </div>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input type="password" placeholder="{{'home.confirmPPassword' | translate }}"
                  formControlName="confirmPassword" class="form-control"
                  [ngClass]="{ 'is-invalid': setPasswordSubmitted && pf.confirmPassword?.errors }" />
                <div *ngIf="setPasswordSubmitted && pf['confirmPassword'].errors" class="invalid-feedback">
                  <div *ngIf="pf['confirmPassword'].errors.required">{{'home.personalPasswordCon' | translate }}</div>
                  <div *ngIf="pf['confirmPassword'].errors.minlength">{{'home.passwordMinLen' | translate }}
                  </div>
                  <div *ngIf="pf['confirmPassword'].errors.maxlength">{{'home.passwordMaxLen' | translate }}
                  </div>
                </div>
                <div
                  *ngIf="setPasswordSubmitted && !errorExist('password', 'pf') && !errorExist('confirmPassword', 'pf') && setPasswordForm.errors?.MatchPassword">
                  {{'home.passwordNotMatch' | translate }}
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <input class="btn btn-primary px-4" type="submit" value="{{'home.setPassword' | translate }}" />
                </div>
              </div>
            </div>
          </form>
          <form *ngIf="formType === 2 && changePasswordForm" [formGroup]="changePasswordForm"
            (ngSubmit)="changePassword()">
            <div class="card-body">
              <h1>{{'home.setNewPassword' | translate }}</h1>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input class="form-control" type="password" placeholder="{{'home.oldPassword' | translate }}"
                  formControlName="oldPassword"
                  [ngClass]="{ 'is-invalid': changePasswordSubmitted && cpf?.oldPassword?.errors }">
                <div *ngIf="changePasswordSubmitted && cpf['oldPassword'].errors" class="invalid-feedback">
                  <div *ngIf="cpf['oldPassword'].errors.required">{{'home.oldPasswordReq' | translate }}</div>
                </div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input class="form-control" type="password" placeholder="{{'home.newPassword' | translate }}"
                  formControlName="password"
                  [ngClass]="{ 'is-invalid': changePasswordSubmitted && cpf?.password?.errors }">
                <div *ngIf="changePasswordSubmitted && cpf['password'].errors" class="invalid-feedback">
                  <div *ngIf="cpf['password'].errors.required">{{'home.newPasswordReq' | translate }}</div>
                  <div *ngIf="cpf['password'].errors.minlength">{{'home.passwordMinLen' | translate }}
                  </div>
                  <div *ngIf="cpf['password'].errors.maxlength">{{'home.passwordMaxLen' | translate }}
                  </div>
                </div>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input type="password" placeholder="{{'home.confirmPassword' | translate }}"
                  formControlName="confirmPassword" class="form-control"
                  [ngClass]="{ 'is-invalid': changePasswordSubmitted && cpf.confirmPassword?.errors }" />
                <div *ngIf="changePasswordSubmitted && cpf['confirmPassword'].errors" class="invalid-feedback">
                  <div *ngIf="cpf['confirmPassword'].errors.required">{{'home.confirmPasswordReq' | translate }}</div>
                  <div *ngIf="cpf['confirmPassword'].errors.minlength">{{'home.passwordMinLen' | translate }}
                  </div>
                  <div *ngIf="cpf['confirmPassword'].errors.maxlength">{{'home.passwordMinLen' | translate }}
                  </div>
                </div>
                <div
                  *ngIf="changePasswordSubmitted && !errorExist('password', 'cpf') && !errorExist('confirmPassword', 'cpf') && changePasswordForm.errors?.MatchPassword">
                  Passwords do not match
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <input class="btn btn-primary px-4" type="submit" value="{{'home.setPassword' | translate }}" />
                </div>
              </div>
            </div>
          </form>
          <form *ngIf="formType === 3 && verifyPersonalPasswordForm" [formGroup]="verifyPersonalPasswordForm"
            (ngSubmit)="verifyPPassword()">
            <div class="card-body">
              <h1>{{'home.personalPassword' | translate }}</h1>
              <p class="text-muted">{{'home.personalPasswordText2' | translate }}</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                </div>
                <input class="form-control" type="password" placeholder="{{'home.personalPasswordText1' | translate }}"
                  formControlName="personalPassword"
                  [ngClass]="{ 'is-invalid': verifyPPasswordSubmitted && ppf?.personalPassword?.errors }">
                <div *ngIf="verifyPPasswordSubmitted && ppf['personalPassword'].errors" class="invalid-feedback">
                  <div *ngIf="ppf['personalPassword'].errors.required">{{'home.personalPasswordReq' | translate }}</div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <input class="btn btn-primary px-4" type="submit" value="{{'home.login' | translate }}" />
                </div>
              </div>
            </div>
          </form>
          Please select a language
          <ul>
            <li *ngFor="let language of translate.getLangs()" [value]="language" (click)="switchLang(language)">
              {{ language }}
              <img class="flags-img" [src]="imageURL + '/' + language+'.png'" />
            </li>
          </ul>
          <!-- <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
            <option *ngFor="let language of translate.getLangs()" [value]="language"
              [selected]="language === translate.currentLang">
              {{ language }}
            </option>
          </select> -->
        </div>
      </div>
    </div>
  </div>
</div>
