<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <form class="form-horizontal" [formGroup]="checkForm" (ngSubmit)="onSubmit()">
        <div class="card-header">
          <strong>Change Password</strong>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="username">Old Password<span class="text-danger">*</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="oldPassword">
              <div *ngIf="submitted && f['oldPassword'].errors" class="text-danger">
                <div *ngIf="f['oldPassword'].errors.required">Old Password is required</div>
                <div *ngIf="f['oldPassword'].errors.minlength">Old Password must have greater than 7 characters</div>
                <div *ngIf="f['oldPassword'].errors.maxlength">Old Password must have less than 50 characters</div>
                <div *ngIf="f['oldPassword'].errors.pattern"> Old Password must begin with a letter and must only contain
                  alphanumeric characters or
                  _(underscore)</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="password">New Password<span class="text-danger">*</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="password">
              <div *ngIf="submitted && f['password'].errors" class="text-danger">
                <div *ngIf="f['password'].errors.required">Password is required</div>
                <div *ngIf="f['password'].errors.minlength">Password must have greater than 6 characters</div>
                <div *ngIf="f['password'].errors.maxlength">Password must have less than 20 characters</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="password">Confirm Password<span class="text-danger">*</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="confirmPassword">
              <div *ngIf="submitted && f['confirmPassword'].errors" class="text-danger">
                <div *ngIf="f['confirmPassword'].errors.required">Confirm Password is required</div>
                <div *ngIf="f['confirmPassword'].errors.minlength">Confirm Password must have greater than 3 characters</div>
                <div *ngIf="f['confirmPassword'].errors.maxlength">Confirm Password must have less than 20 characters</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i>
            Submit</button>
          &nbsp;
          <button class="btn btn-sm btn-danger" type="button" (click)="handleReset()"><i class="fa fa-ban"></i>
            Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
