<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <form class="form-horizontal" [formGroup]="newAdvForm" (ngSubmit)="onSubmit()">
        <div class="card-header">
          <strong>{{'advertisement.createNewAdvertisement' | translate}}</strong>
          <a class="btn back-btn" href="javascript:void(0)" (click)="goBack()">
            <i class="icon-arrow-left-circle" aria-hidden="true"></i>
          </a>
        </div>
        <div class="card-body">

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="sports">{{'advertisement.advertisementName' | translate}} <span
                class="text-danger">*</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" formControlName="advName" placeholder="{{'advertisement.advertisementName' | translate}}">
              <div *ngIf="submitted && f['advName'].errors" class="text-danger">
                <div *ngIf="f['advName'].errors.required">{{'advertisement.advertisementNameIsRequired' | translate}} </div>
                <div *ngIf="f['advName'].errors.minlength">{{'advertisement.advertisementNameMustHaveGreaterThan' | translate}} </div>
                <div *ngIf="f['advName'].errors.maxlength">{{'advertisement.advertisementNameMustHaveGreaterThan' | translate}} </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="target_url">{{'advertisement.targetUrl' | translate}}<span class="text-danger">*</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="target_url" formControlName="target_url"
                placeholder="{{'advertisement.targetUrl' | translate}}" />
              <div *ngIf="submitted && f['target_url'].errors" class="text-danger">
                <div *ngIf="f['target_url'].errors.required">{{'advertisement.targetUrlIsRequired' | translate}} </div>
                <div *ngIf="f['target_url'].errors.pattern">{{'advertisement.targetUrlMustBeValid' | translate}} </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="ad_position">{{'advertisement.adsPosition' | translate}} <span
                class="text-danger">*</span></label>
            <div class="col-md-9">

              <select class="form-control" placeholder="Select Id Proof" name="ad_position"
                formControlName="ad_position" (change)="getImageRatio()">
                <option value="">{{'advertisement.selectAdsPosition' | translate}} </option>
                <option *ngFor="let position of advPositionList" [value]="position.ad_position_id">
                  {{position.ad_type | titlecase}}
                </option>
              </select>

              <div *ngIf="submitted && f['ad_position'].errors" class="text-danger">
                <div *ngIf="f['ad_position'].errors.required">{{'advertisement.adsPositionIsRequired' | translate}} </div>
              </div>


            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="website">{{'advertisement.uploadImage' | translate}} <span class="text-danger">*</span> <span
                *ngIf="currentPosition">{{currentPosition}}</span></label>
            <div class="col-md-9">
              <input #file type="file" formControlName="adv_image" name="adv_image" accept='image/*'
                [disabled]="buttonDisabled" (change)="preview(file.files)" /><br /><br />
              <div class="col-md-6">

                <img [src]="imgURL" height="100" width="700" *ngIf="imgURL">
              </div>
              <div *ngIf="submitted && f['adv_image'].errors" class="text-danger">
                <div *ngIf="f['adv_image'].errors.required"> {{'advertisement.imageIsRequired' | translate}} </div>
              </div>
              <div *ngIf="imgErrorMsg" class="text-danger">{{imgErrorMsg}}</div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i>
            {{'advertisement.submit' | translate}}</button>
          &nbsp;
          <button class="btn btn-sm btn-danger" type="button" (click)="handleReset()"><i class="fa fa-ban"></i>
            {{'advertisement.reset' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
