<div [formGroup]="parentFormGroup">
  <div class="form-group row">
    <label class="col-md-3 col-form-label" id="start-date-label" for="startDate">Start Date<span
        class="text-danger">*</span></label>
    <div class="col-md-9">
      <!-- (bsValueChange)="" -->
      <input (bsValueChange)="validateStartEndDate('start', $event)" type="text" id="startDate" style="cursor: pointer;"
        formControlName="startDate" class="form-control" placeholder="Select date" #dp="bsDatepicker" bsDatepicker
        [minDate]="minDate" readonly
        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default', showWeekNumbers:false, adaptivePosition: true }">
      <span *ngIf="formError.startDate != ''" class="text-danger">{{formError.startDate}}</span>
      <div *ngIf="submitted && f['startDate'].errors" class="text-danger">
        <div *ngIf="f['startDate'].errors.required">Start Date is required</div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label" id="end-date-label" for="endDate">End Date<span
        class="text-danger">*</span></label>
    <div class="col-md-9">
      <input (bsValueChange)="validateStartEndDate('end', $event)" type="text" id="endDate" style="cursor: pointer;"
        formControlName="endDate" class="form-control" placeholder="Select date" #dp="bsDatepicker" bsDatepicker
        [minDate]="minDate" readonly
        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default', showWeekNumbers:false, adaptivePosition: true }">
      <span *ngIf="formError.endDate != ''" class="text-danger">{{formError.endDate}}</span>
      <div *ngIf="submitted && f['endDate'].errors" class="text-danger">
        <div *ngIf="f['endDate'].errors.required">End Date is required</div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3"> Select Fights </div>
    <div class="col-md-9 text-muted" *ngIf="tournaments.length == 0 && !submitted">Fights List will display
      here
    </div>
    <ul class="week-matches" *ngIf="tournaments.length > 0">
      <li class="match-block">
        <a href="javascript:void(0)" [ngClass]="(optMatches.length == tournaments.length) ? 'active':'' "
          (click)="optAllMatches()">
          <span class="opt-all-matches"> Select All </span>
        </a>
      </li>
      <li *ngFor="let match of tournaments" class="match-block">
        <a href="javascript:void(0)" [ngClass]="optMatches.indexOf(match.match_id) > -1 ? 'active':'' "
          (click)="toggleOptMatch(match.match_id, match.scheduled_date_time)">
          <!-- <span><img src="assets/images/pgatour.png" height="30px"></span> -->
          <!-- <span title="{{match.tournament_name}}" class="team-abbr">{{match.tournament_name}}</span> -->
          <span>{{match.home_fighter_first_name}} vs {{match.away_fighter_first_name}}</span>
          <div class="match-datetime">{{match.scheduled_date_time | date: dateFormatString }}</div>
        </a>
    </ul>
    <div *ngIf="submitted && f['optMatches'].errors" class="text-danger">
      <div *ngIf="f['optMatches'].errors.required">Please select at lease one fight</div>
    </div>
  </div>
  <!-- <div class="form-group row" *ngIf="f['startDate'].value && f['endDate'].value && optMatches.length">
    <label class="col-md-3 col-form-label" id="playoff-date-label" for="playOffDate">Play Off Date<span
        class="text-danger">*</span></label>
    <div class="col-md-9">
      <input (bsValueChange)="validatePlayOffDate($event)" type="text" id="playOffDate" style="cursor: pointer;"
        formControlName="playOffDate" class="form-control" placeholder="Select date" #dp="bsDatepicker" bsDatepicker
        [minDate]="minDate" readonly
        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default', showWeekNumbers:false, adaptivePosition: true }">

      <span *ngIf="formError.playOffDate != ''" class="text-danger">{{formError.playOffDate}}</span>
      <div *ngIf="submitted && f['playOffDate'].errors" class="text-danger">
        <div *ngIf="f['playOffDate'].errors.required">Play Off Date is required</div>
      </div>
    </div>
  </div> -->
</div>
