<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Total Sold Tickets</h1>
          <a class="btn back-btn" routerLink="/agents"><i class="icon-arrow-left-circle" aria-hidden="true"></i></a>
        </div>

        <div class="row">
          
          <div class="col-sm-12">
            <div *ngIf="error" class="alert alert-danger" role="alert">
              There was an error
            </div>
            <div *ngIf="!error && !agent">Loading...</div>
             <div class="card">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Ticket Details</h6>
                <h6 class="m-0 font-weight-bold text-primary  pull-right">Total Record : {{totalAgents}}</h6>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="col-12 col-sm-12">
                      <table class="table table-bordered">
                        <tbody>
                          <tr class="custom-table-heading">
                            <th>Ticket Number</th>
                            <th>Contest</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Sell Date</th>
                          </tr>
                          <tr *ngFor="let single of agent; let agentIndex = index" [ngClass]="{'alert alert-success': single.winner}">
                              <td>{{single.ticket_number}}</td>
                              <td>{{single.contest_name |titlecase}} <br>({{single.contest_unique_id}})</td>
                              <td data-toggle="tooltip" title="Dob: {{single.dob || '-'}} &#13;City: {{single.city || '-'}}" >{{single.first_name | titlecase }} {{single.last_name | titlecase }}</td>
                              <td>{{single.email || "-" }} </td>
                              <td>{{single.phone_number}} </td>
                              <td>{{ formatDateTimeZone(single.created_date) | date: dateFormatString}} </td>
                            </tr>
                          
                        </tbody>
                      </table>

                          <nav *ngIf="totalAgents > params.items_perpage">
                            <ul class="pagination">
                              <li class="page-item" *ngIf="params.current_page > 1">
                                <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">Prev</a>
                              </li>
                              <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"
                                *ngFor="let page of totalPaginationShow">
                                <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
                              </li>
                              <li class="page-item" *ngIf="params.current_page != totalPages">
                                <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">Next</a>
                              </li>
                            </ul>
                        </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <app-loader></app-loader>
