<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="open">
        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/dashboard']" routerLinkActive="active">
          <i class="nav-icon icon-speedometer "></i> {{'sidebar.dashboard' | translate}}</a>
      </li>
      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <!-- <a class="nav-link" href="javascript:void(0);" [routerLink]="['/users']" routerLinkActive="active">
          <i class="nav-icon icon-user"></i> User Management</a> -->
        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/agent']" routerLinkActive="active">
          <i class="nav-icon icon-user"></i> {{'sidebar.userManagement' | translate}} </a>
      </li>

      <li class="nav-item nav-dropdown" *ngIf="isSuperAdmin" routerLinkActive="open">
        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/game/list']" routerLinkActive="active">
          <img [src]="newsIcon" />{{'sidebar.gameManagement' | translate}} </a>
      </li>

      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/finances/transactions/withdraw']"
          routerLinkActive="active">
          <i class="nav-icon icon-list"></i> {{'sidebar.history' | translate}} </a>
      </li>

      <li class="nav-item nav-dropdown" *ngIf="isSuperAdmin">
        <a href="#AdvSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link nav-dropdown-toggle"><i
            class="nav-icon icon-rocket"></i> {{'sidebar.advertisement' | translate}}</a>
        <ul class="collapse list-unstyled" id="AdvSubMenu">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" [routerLink]="['/advertisement/new']"
              routerLinkActive="active">
              <i class="nav-icon icon-pencil"></i> {{'sidebar.create' | translate}}</a>
          </li>
          <li class="nav-item" routerLinkActive="open">
            <a class="nav-link" href="javascript:void(0);" [routerLink]="['/advertisement']" routerLinkActive="active">
              <i class="nav-icon icon-list"></i> {{'sidebar.listing' | translate}}</a>
          </li>
        </ul>
      </li>

      <!-- red packet section -->
      <li class="nav-item nav-dropdown" *ngIf="isSuperAdmin">
        <a href="#RedPktMenu" data-toggle="collapse" aria-expanded="false" class="nav-link nav-dropdown-toggle"><i
            class="nav-icon icon-rocket"></i> {{'sidebar.redPacket' | translate}}</a>
        <ul class="collapse list-unstyled" id="RedPktMenu">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" [routerLink]="['/red-packet/new']" routerLinkActive="active">
              <i class="nav-icon icon-pencil"></i> {{'sidebar.create' | translate}}</a>
          </li>
          <li class="nav-item" routerLinkActive="open">
            <a class="nav-link" href="javascript:void(0);" [routerLink]="['/red-packet']" routerLinkActive="active">
              <i class="nav-icon icon-list"></i> {{'sidebar.listing' | translate}}</a>
          </li>
        </ul>
      </li>

      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/player-loginip/list']"
          routerLinkActive="active">
          <img [src]="newsIcon" /> {{'sidebar.playerLoginIP' | translate}} </a>
      </li>

      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/search-user/list']" routerLinkActive="active">
          <img [src]="newsIcon" /> {{'sidebar.searchUser' | translate}}</a>
      </li>

      <!-- score log -->
      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/score-log']" routerLinkActive="active">
          <i class="nav-icon icon-list"></i> {{'sidebar.scoreLog' | translate}} </a>
      </li>
      <!-- end -->

      <!-- game log -->
      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/game-log']" routerLinkActive="active">
          <i class="nav-icon icon-list"></i> {{'sidebar.gameLog' | translate}} </a>
      </li>
      <!-- end -->

      <!-- jackpot -->
      <li class="nav-item nav-dropdown" *ngIf="isSuperAdmin" routerLinkActive="open">
        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/jackpot']" routerLinkActive="active">
          <i class="nav-icon icon-rocket"></i> {{'sidebar.jackpot' | translate}} </a>
      </li>
      <!-- end -->

      <!-- suggestion -->
      <li class="nav-item nav-dropdown" *ngIf="isSuperAdmin" routerLinkActive="open">
        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/suggestion']" routerLinkActive="active">
          <i class="nav-icon icon-rocket"></i> {{'sidebar.suggestion' | translate}} </a>
      </li>
      <!-- end -->

      <li class="nav-item nav-dropdown" routerLinkActive="open">
        <a class="nav-link" href="javascript:void(0);" (click)="adminLogout()" routerLinkActive="active">
          <i class="nav-icon fa fa-power-off"></i> {{'sidebar.signOut' | translate}}</a>
      </li>
      

    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
