<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body custom-listing-table">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">{{'games.gameMng' | translate}}
            <!-- <button class="btn btn-sm btn-primary create-button" type="button"><a href="javascript:void(0);"
                [routerLink]="['/users/new']">
                <i class="nav-icon icon-plus"></i> Create</a></button> -->
          </h1>
          

          <h5 class="mb-0 text-gray-800">{{ 'games.totalRecord' | translate}}: {{totalGames}}</h5>
        </div>
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>{{'games.gameName' | translate}}</th>
              <th>{{'games.type' | translate}}</th>
              <th>{{'games.bet' | translate}}</th>
              <th>{{'games.status' | translate}}</th>
              <th>{{'games.action' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="error">
              <td colspan="5" class="table-danger">There was an error</td>
            </tr>
            <tr *ngIf="!error && !gameList">
              <td colspan="5">Loading...</td>
            </tr>
            <tr *ngIf="gameList && !(gameList.length>0)">
              <td colspan="5" class="text-center"> {{'games.noPlayerFound' | translate}}</td>
            </tr>
            <tr *ngFor="let game of gameList; let gameIndex = index">
              <td>{{ game.name || "-" }}</td>
              <td>{{ game.type || "-" }}</td>
              <td>{{ game.bet }}</td>
              <td>
                <span class="badge"
                  [ngClass]="{'badge-success': (game.status == 0), 'badge-secondary': (game.status == 1), 'badge-danger': (game.status > 1)}">{{gameStatus[game.status]
                  }}</span>
              </td>
              <td>
                <a routerLink="/game/{{game.id}}"><i class="fa fa-address-book"></i>{{'games.details' | translate}}</a>
                &nbsp;
                <!-- <a href="javascript:void(0);" data-toggle="modal" data-target="#editModal" (click)="startEdit({
                    user_unique_id: user.user_unique_id,
                    status: user.status,
										user_id: user.user_id,
										balance: user.balance,
                    userIndex: userIndex
                  })"><i class="fa fa-edit"></i>Edit</a>
                  &nbsp; -->
                <a href="javascript:void(0);" *ngIf="game.status == 0"
                  (click)="changeGameStatus(game.id, '1')"> {{'games.disable' | translate}}</a>
                &nbsp;
                <a href="javascript:void(0);" *ngIf="game.status == 1"
                  (click)="changeGameStatus(game.id, '0')"> {{'games.enable' | translate}}</a>

              </td>
            </tr>
          </tbody>
        </table>
        <nav *ngIf="totalGames > params.per_page">
          <ul class="pagination">
            <li class="page-item" *ngIf="params.current_page > 1">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">Prev</a>
            </li>
            <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"
              *ngFor="let page of totalPaginationShow">
              <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
            </li>
            <li class="page-item" *ngIf="params.current_page != totalPages">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<app-loader></app-loader>
