<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <!--filter-->
      <div class="card-header">
        <div class="row">
          <div class="col-12 col-sm-3">
            <div class="input-group">
              <select class="form-control" [(ngModel)]="params['status']" placeholder="" name="status">
                <option value="-1">{{'games.selectAStatus' | translate}}</option>
                <option *ngFor="let status of gameStatus | keyvalue" [value]="status.key">
                  {{status.value}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-3">
            <div class="input-group">
              <select class="form-control" [(ngModel)]="params['category']" placeholder="" name="category">
                <option value="-1">{{'games.selectCategory' | translate}}</option>
                <option *ngFor="let category of categories; let categoryIndex = index" [value]="category.game_type_id">
                  {{category.game_type}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-3">
            <span class="input-group-prepend">
              <button class="btn btn-primary" type="button" (click)="searchFilter();"> <i class="fa fa-filter"></i>
                {{'games.filter' | translate}}</button>&nbsp;
            </span>

          </div>
        </div>
        <form class="row mt-1">
          <div class="col-12 col-sm-6">
            <div class="input-group">
              <input class="form-control" [(ngModel)]="params['keyword']" id="search_keyword" type="text"
                name="search_keyword" placeholder="{{'games.searchByGameName' | translate}}" (ngModelChange)="search()"
                autocomplete="off">
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <!-- <button class="btn btn-primary" type="submit" (click)="searchFilter();">
              <i class="fa fa-search"></i> Search</button>&nbsp; -->
            <button class="btn btn-warning" (click)="searchFilter('reset');"><i class="fa fa-refresh"></i>
              {{'games.resetFilters' | translate}}</button>
            <a class="btn back-btn" href="javascript:void(0)" (click)="goBack()">
              <i class="icon-arrow-left-circle" aria-hidden="true"></i>
            </a>
          </div>
        </form>
      </div>
      <!---->
      
      <div class="card-body custom-listing-table">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">{{'games.gameMng' | translate}}
            <!-- <button class="btn btn-sm btn-primary create-button" type="button"><a href="javascript:void(0);"
                [routerLink]="['/users/new']">
                <i class="nav-icon icon-plus"></i> Create</a></button> -->
          </h1>
          

          <h5 class="mb-0 text-gray-800">{{ 'games.totalRecord' | translate}}: {{totalGames}}</h5>
        </div>
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>{{'games.gameId' | translate}}</th>
              <th>{{'games.gameName' | translate}}</th>
              <th>{{'games.category' | translate}}</th>
              <th>{{'games.maxBet' | translate}}</th>
              <th>{{'games.gameImage' | translate}}</th>
              <th>{{'games.status' | translate}}</th>
              <th>{{'games.position' | translate}}</th>
              <th>{{'games.featured' | translate}}</th>
              <th>{{'games.action' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="error">
              <td colspan="8" class="table-danger">There was an error</td>
            </tr>
            <tr *ngIf="!error && !gameList">
              <td colspan="8">Loading...</td>
            </tr>
            <tr *ngIf="gameList && !(gameList.length>0)">
              <td colspan="8" class="text-center"> {{'games.noPlayerFound' | translate}}</td>
            </tr>
            <tr *ngFor="let game of gameList; let gameIndex = index">
              <td>{{ game.game_id || "-" }}</td>
              <td>{{ game.name || "-" }}</td>
              <td>{{ game.game_type || "-" }}</td>
              <td>{{ game.max_bet }}</td>
              <td><img src="{{game.image}}" class="game-thumbnails"/></td>
              <td>
                <span class="badge"
                  [ngClass]="{'badge-success': (game.status == 0), 'badge-secondary': (game.status == 1), 'badge-danger': (game.status > 1)}">{{gameStatus[game.status]
                  }}</span>
              </td>
              <td *ngIf="!game.isEditabel"> {{ game.position }} </td>
              <td *ngIf="game.isEditabel">
                <input type="text" class="form-control" placeholder="Enter Position" name="position" [(ngModel)]="game.position" [disabled]="!game.isEditabel" />
              </td>
              <td>
                  <ui-switch [checked]="game.is_featured == 'true'" (change)="onSaveFeaturedChanged(game, $event)"></ui-switch>
              </td>
              <td>
                <a routerLink="/game/{{game.id}}">{{'games.details' | translate}}</a>
                &nbsp;
                <a href="javascript:void(0);" *ngIf="game.status == 0"
                  (click)="changeGameStatus(game.id, '1')"> {{'games.disable' | translate}}</a>
                &nbsp;
                <a href="javascript:void(0);" *ngIf="game.status == 1"
                  (click)="changeGameStatus(game.id, '0')"> {{'games.enable' | translate}}</a>
                &nbsp;  
                <a href="javascript:void(0);" *ngIf="!game.isEditabel" (click)="game.isEditabel = !game.isEditabel">{{'games.edit' | translate}}</a>&nbsp;
                <a href="javascript:void(0);" *ngIf="game.isEditabel" (click)="onStatusSubmit(game)">{{'games.save' | translate}}</a>

              </td>
            </tr>
          </tbody>
        </table>
        <nav *ngIf="totalGames > params.per_page">
          <ul class="pagination">
            <li class="page-item" *ngIf="params.current_page > 1">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">Prev</a>
            </li>
            <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"
              *ngFor="let page of totalPaginationShow">
              <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
            </li>
            <li class="page-item" *ngIf="params.current_page != totalPages">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<app-loader></app-loader>