.edit {
    float: right;
}

.save {
    float: right;
}
.row {
    margin-bottom: 10px;
}
.back-btn {
    font-size:15px;
}

.score-btn {
    background-color: #ffc107;
    color : #fff;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
  }
  .max-value {
    background: #c00000;
    color: #fff;
    padding: 5px;
    border-radius: 50px;
    font-size: 10px;
  }