<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <!-- <div class="col-12 col-sm-3">
            <div class="input-group">
              <select class="form-control" [(ngModel)]="params['withdraw_type']" name="withdrawType"
                (ngModelChange)="searchFilter();">
                <option value="">Select a withdraw type</option>
                <option *ngFor="let type of withdrawType | keyvalue" [value]="type.key">{{type.value}}</option>
              </select>
            </div>
          </div> -->
          <div class="col-12 col-sm-3">
            <div class="input-group">
              <select class="form-control" [(ngModel)]="params['status']" name="status"
                (ngModelChange)="searchFilter();">
                <option value="">Select a Status</option>
                <option *ngFor="let type of isProcessed | keyvalue" [value]="type.key">{{type.value}}</option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-3">
            <div class="input-group">
              <input type="text" id="dates" name="dates" class="form-control cursor-pointer"
                placeholder="Select a date range" #dp="bsDaterangepicker" [(ngModel)]="params['dates']"
                bsDaterangepicker readonly autocomplete="off" [maxDate]="maxDate"
                [bsConfig]="{ rangeInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default', showWeekNumbers:false }"
                (ngModelChange)="searchFilter();">
            </div>
          </div>
          <div class="col-12 col-sm-3">
            <span class="input-group-prepend">
              <button class="btn btn-primary" type="button" (click)="searchFilter();"> <i class="fa fa-filter"></i>
                Filter</button>&nbsp;
            </span>
          </div>

        </div>
        <form class="row mt-1">
          <!-- <div class="col-12 col-sm-3">
            <div class="input-group">
              <select class="form-control" [(ngModel)]="params['status']" name="status"
                (ngModelChange)="searchFilter();">
                <option value="">Select a Status</option>
                <option *ngFor="let type of isProcessed | keyvalue" [value]="type.key">{{type.value}}</option>
              </select>
            </div>
          </div> -->
          <div class="col-12 col-sm-6">
            <div class="input-group">
              <input class="form-control" [(ngModel)]="params['keyword']" id="search_keyword" type="text"
                name="search_keyword" placeholder="Search by name or username or playername...">
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <button class="btn btn-primary" type="submit" (click)="searchFilter();">
              <i class="fa fa-search"></i> Search</button>&nbsp;
            <button class="btn btn-warning" (click)="searchFilter('reset');"><i class="fa fa-refresh"></i>
              Reset Filters</button>
          </div>
        </form>
      </div>
      <div class="card-body custom-listing-table">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h3 class="h3 mb-0 text-gray-800">Withdraw Transaction</h3>
          <h4 class="mb-0 text-gray-800">Total Record : {{' '}}{{(totalWithdraws)?totalWithdraws:0}} </h4>
        </div>
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>{{ 'transactions.action' | translate}}</th>
              <th>{{ 'transactions.account' | translate}}</th>
              <th>{{ 'transactions.username' | translate}}</th>
              <th>{{ 'transactions.IP' | translate}}</th>
              <th>{{ 'transactions.dateTime' | translate}}</th>
              <th>{{ 'transactions.description' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="error">
              <td colspan="9" class="table-danger text-center">There was an error</td>
            </tr>
            <tr *ngIf="!error && !withdrawList">
              <td colspan="9">Loading...</td>
            </tr>
            <tr *ngIf="!error && withdrawList?.length === 0">
              <td colspan="9" class="text-center">There are no transactions to show</td>
            </tr>
            <tr *ngFor="let transaction of withdrawList">
              <td>{{ transaction.action}} </td>
              <td>{{ transaction.win }}</td>
              <td>{{ transaction.username }}</td>
              <td>{{ transaction.ip }}</td>
              <td>
                {{ formatDateTimeZone(transaction.created_at) | date:'MMM d, y, h:mm:ss a' }}
              </td>
              <td>{{ transaction.description }}</td>
            </tr>
          </tbody>
        </table>
        <nav *ngIf="totalWithdraws > params.per_page">
          <ul class="pagination">
            <li class="page-item" *ngIf="params.current_page > 1">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">Prev</a>
            </li>
            <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"
              *ngFor="let page of totalPaginationShow">
              <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
            </li>
            <li class="page-item" *ngIf="params.current_page != totalPages">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<app-loader></app-loader>
