<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <form class="form-horizontal" [formGroup]="contestForm" (ngSubmit)="onSubmit()">
        <div class="card-header">
          <strong>Edit Contest</strong>
        </div>
        <div class="card-body" *ngIf="contest">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="sports">Contest Name<span class="text-danger">*</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" [(ngModel)]="contest.contest_name" formControlName="contestName" placeholder="Contest Name">
              <div *ngIf="submitted && f['contestName'].errors" class="text-danger">
                <div *ngIf="f['contestName'].errors.required">Contest Name is required</div>
                <div *ngIf="f['contestName'].errors.minlength">Contest Name must have more than 6 characters
                </div>
                <div *ngIf="f['contestName'].errors.maxlength">Contest Name must have less than 30 characters
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="sports">Select Event<span class="text-danger">*</span></label>
            <div class="col-md-9">
              <ng-select [items]="events"
                   bindLabel="event_name"
                   bindValue="event_id"
                   [multiple]="false"
                   placeholder="Select event"
                   [(ngModel)]="contest.event_id"
                   formControlName="event_id">
                </ng-select>
              <!-- <select class="form-control"  placeholder="Select Event" name="event_id" [(ngModel)]="contest.event_id" formControlName="event_id">
                <option value=""> Select event</option>
                <option *ngFor="let event of events" [value]="event.event_id">
                  {{event.event_name | titlecase}}
                </option>
              </select> -->
              <div *ngIf="submitted && f['event_id'].errors" class="text-danger">
                <div *ngIf="f['event_id'].errors.required">Event is required</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="sports">Select Game Style<span class="text-danger">*</span></label>
            <div class="col-md-9">
              <select class="form-control"  placeholder="Select Game Style" name="master_game_styles_id" [(ngModel)]="contest.master_game_style_id" formControlName="master_game_styles_id">
                <option value="">Select Game Style</option>
                <option *ngFor="let gameStyle of masterGameStyle" [value]="gameStyle.master_game_styles_id">
                  {{gameStyle.name | titlecase}}
                </option>
              </select>
              <div *ngIf="submitted && f['master_game_styles_id'].errors" class="text-danger">
                <div *ngIf="f['master_game_styles_id'].errors.required">Game Style is required</div>
              </div>
            </div>
          </div>
          
            <div class="form-group row">
              <label class="col-md-3 col-form-label" id="start-date-label" for="startDate">Start Date<span
                  class="text-danger">*</span></label>
              <div class="col-md-9">
                <!-- (bsValueChange)="" -->
                <input (bsValueChange)="validateStartEndDate('start', $event)" type="text" id="startDate" style="cursor: pointer;" [(ngModel)]="startDate"
                  formControlName="startDate" class="form-control" placeholder="Select date" #dp="bsDatepicker" bsDatepicker
                  [minDate]="minDate" readonly
                  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default', showWeekNumbers:false, adaptivePosition: true }">
                <span *ngIf="formError.startDate != ''" class="text-danger">{{formError.startDate}}</span>
                <div *ngIf="submitted && f['startDate'].errors" class="text-danger">
                  <div *ngIf="f['startDate'].errors.required">Start Date is required</div>
                </div>
              </div>
            </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" id="end-date-label" for="endDate">End Date<span
                class="text-danger">*</span></label>
            <div class="col-md-9">
              <input (bsValueChange)="validateStartEndDate('end', $event)" type="text" id="endDate" style="cursor: pointer;" [(ngModel)]="endDate"
                formControlName="endDate" class="form-control" placeholder="Select date" #dp="bsDatepicker" bsDatepicker
                [minDate]="minDate" readonly
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default', showWeekNumbers:false, adaptivePosition: true }">
              <span *ngIf="formError.endDate != ''" class="text-danger">{{formError.endDate}}</span>
              <div *ngIf="submitted && f['endDate'].errors" class="text-danger">
                <div *ngIf="f['endDate'].errors.required">End Date is required</div>
              </div>
            </div>
          </div>
          <!-- Prize component start -->
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="entryFees">Entry Fees<span class="text-danger">*</span></label>
              <div class="col-md-9">
                <input (blur)="calculatePrizePool()" class="form-control" [(ngModel)]="contest.entry_fees" formControlName="entryFees" type="text" appNumeric numericType="number"/>
                <div *ngIf="submitted && f['entryFees'].errors" class="text-danger">
                  <div *ngIf="f['entryFees'].errors.required">Entry Fee is required</div>
                  <div *ngIf="f['entryFees'].errors.min || f['entryFees'].errors.max">Entry Fee must be between $10 to $10,000
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="gameSize">Contest Size<span class="text-danger">*</span></label>
              <div class="col-md-9">
                <input (blur)="calculatePrizePool()" class="form-control" [(ngModel)]="contest.size" formControlName="gameSize" type="text" appNumeric numericType="number" />
                <div *ngIf="submitted && f['gameSize'].errors" class="text-danger">
                  <div *ngIf="f['gameSize'].errors.required">Game Size is required</div>
                  <div *ngIf="f['gameSize'].errors.min || f['gameSize'].errors.max">Game Size must be between 5 to 100
                  </div>
                </div>
              </div>
            </div>
          
            <div class="form-group row" *ngIf="prizes.length > 0">
              <label class="col-md-3 col-form-label" for="prizePayout">Prize Payout<span class="text-danger">*</span></label>
              <div class="col-md-9">
                <select (change)="calculatePrizePool()" class="form-control" [(ngModel)]="contest.master_prize_id" formControlName="prizePayout">
                  <option value="">Select Prize Payout</option>
                  <option *ngFor="let prize of prizes" value="{{prize.master_prize_id}}">{{prize.prize_name}}
                  </option>
                </select>
                <div *ngIf="submitted && f['prizePayout'].errors" class="text-danger">
                  <div *ngIf="f['prizePayout'].errors.required">Prize Payout is required</div>
                </div>
              </div>
            </div>
          
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="jackpotPrize">Prize Pool<span class="text-danger">*</span></label>
              <div class="col-md-9">
                ${{prizePool}}
              </div>
            </div>
          
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="prizeStructure">Prize Structure<span
                  class="text-danger">*</span></label>
              <div class="col-md-9">
                <p *ngFor="let composition of prizeComposition">{{composition}}</p>
              </div>
            </div>
          <!-- proze component end -->
          <!-- <app-pga-championship  [sizeType]="sizeType" [parentFormGroup]="contestForm" [submitted]="submitted"
            [formError]="formError">
          </app-pga-championship> -->
          <!-- <app-pga-championship *ngIf="sizeType && league.league_url_name === 'mma'" [league]="league"
            [gameStyle]="gameStyle" [sizeType]="sizeType" [parentFormGroup]="contestForm" [submitted]="submitted"
            [formError]="formError">
          </app-pga-championship> -->
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i>
            Submit</button>
          &nbsp;
          <a class="btn back-btn" routerLink="/contest/list">
          <button class="btn btn-sm btn-danger back-button" type="button"><i class="icon-arrow-left-circle"></i>
            Back</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <app-loader></app-loader> -->
