<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <form class="form-horizontal" [formGroup]="contestForm" (ngSubmit)="onSubmit()">
        <div class="card-header">
          <strong>Edit Event</strong>
        </div>
        <div class="card-body" *ngIf="event">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="sports">Event Name<span class="text-danger">*</span></label>
            <div class="col-md-9">
              {{userId}}
              <input type="text" class="form-control" [(ngModel)]="event.event_name" formControlName="eventName"
                placeholder="Event Name">
              <div *ngIf="submitted && f['eventName'].errors" class="text-danger">
                <div *ngIf="f['eventName'].errors.required">Event Name is required</div>
                <div *ngIf="f['eventName'].errors.minlength">Event Name must have more than 6 characters
                </div>
                <div *ngIf="f['eventName'].errors.maxlength">Event Name must have less than 30 characters
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="sports">Venue Name<span class="text-danger">*</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" [(ngModel)]="event.venue_name" formControlName="venueName"
                placeholder="Venue Name">
              <div *ngIf="submitted && f['venueName'].errors" class="text-danger">
                <div *ngIf="f['venueName'].errors.required">Venue Name is required</div>
                <div *ngIf="f['venueName'].errors.minlength">Venue Name must have more than 6 characters
                </div>
                <div *ngIf="f['venueName'].errors.maxlength">Venue Name must have less than 30 characters
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="sports">Select Promotion<span
                class="text-danger">*</span></label>
            <div class="col-md-9">
              <select class="form-control" placeholder="Select Promotion" name="promotionId"
                [(ngModel)]="event.promotion_id" formControlName="promotionId">
                <option value="">Select Promotion</option>
                <option *ngFor="let promotion of promotion" [value]="promotion.id">
                  {{promotion.name}}
                </option>
              </select>
              <div *ngIf="submitted && f['promotionId'].errors" class="text-danger">
                <div *ngIf="f['promotionId'].errors.required">Promotion is required</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" id="start-date-label" for="eventDate">Event Date<span
                class="text-danger">*</span></label>
            <div class="col-md-9">
              <!-- (bsValueChange)="" -->
              <input type="text" (ngModelChange)="eventDateChange()" id="eventDate" style="cursor: pointer;"
                [(ngModel)]="eventDatetime" formControlName="eventDate" class="form-control" placeholder="Select date"
                #dp="bsDatepicker" bsDatepicker readonly
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default', showWeekNumbers:true, adaptivePosition: true }">
              <!-- <span *ngIf="formError.eventDate != ''" class="text-danger">{{formError.eventDate}}</span> -->
              <div *ngIf="submitted && f['eventDate'].errors" class="text-danger">
                <div *ngIf="f['eventDate'].errors.required">Event Date is required</div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-3"> Select Fights </div>
            <div class="col-md-9 text-muted" *ngIf="tournaments.length == 0 && !submitted">Fights List will display
              here
            </div>
            <div class="col-md-9" *ngIf="tournaments.length > 0">
              <ul class="week-matches" *ngIf="tournaments.length > 0">
                <li class="match-block">
                  <a href="javascript:void(0)" [ngClass]="(optMatches.length == tournaments.length) ? 'active':'' "
                    (click)="optAllMatches()">
                    <span class="opt-all-matches"> Select All </span>
                  </a>
                </li>
                <li *ngFor="let match of tournaments" class="match-block">
                  <a href="javascript:void(0)" [ngClass]="optMatches.indexOf(match.match_id) > -1 ? 'active':'' "
                    (click)="toggleOptMatch(match.match_id, match.scheduled_date_time)">
                    <span>{{match.home_fighter_last_name}} vs {{match.away_fighter_last_name}}</span>
                    <div class="match-datetime">{{match.scheduled_date_time | date: dateFormatString }}</div>
                  </a>
              </ul>
            </div>
            <div *ngIf="submitted && f['optMatches'].errors" class="text-danger">
              <div *ngIf="f['optMatches'].errors.required">Please select at lease one fight</div>
            </div>
          </div>

          <!-- <div class="form-group row" *ngIf="tournamentsDetails.length > 0">
            <label class="col-md-3 col-form-label" for="sports"></label>
            <div class="col-md-9">
              <ul class="week-matches" *ngIf="tournamentsDetails.length > 0">
                <li *ngFor="let match of tournamentsDetails" class="match-block">
                  <a href="javascript:void(0)"
                    >
                    <span>{{match.home_fighter_first_name}} vs {{match.away_fighter_first_name}}</span>
                    <div class="match-datetime">{{match.scheduled_date_time | date: dateFormatString }}</div>
                  </a>
              </ul>
            </div>
          </div> -->

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="sports">Venue City<span class="text-danger">*</span></label>
            <div class="col-md-9">
              <input type="text" class="form-control" [(ngModel)]="event.venue_city" formControlName="venueCity"
                placeholder="Venue City">
              <div *ngIf="submitted && f['venueCity'].errors" class="text-danger">
                <div *ngIf="f['venueCity'].errors.required">Venue City is required</div>
                <div *ngIf="f['venueCity'].errors.minlength">Venue City must have more than 2 characters
                </div>
                <div *ngIf="f['venueCity'].errors.maxlength">Venue City must have less than 100 characters
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="sports">Venue PostalCode<span
                class="text-danger">*</span></label>
            <div class="col-md-9">
              <input type="number" class="form-control" [(ngModel)]="event.venue_zipcode" formControlName="venueZipcode"
                placeholder="PostalCode">
              <div *ngIf="submitted && f['venueZipcode'].errors" class="text-danger">
                <div *ngIf="f['venueZipcode'].errors.required">PostalCode is required</div>
                <div *ngIf="f['venueZipcode'].errors.minlength">PostalCode must have more than 3 characters
                </div>
                <div *ngIf="f['venueZipcode'].errors.maxlength">PostalCode must have less than 10 characters
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="target_url">Venue Address<span
                class="text-danger">*</span></label>
            <div class="col-md-9">

              <textarea class="form-control" id="venueAddress" [(ngModel)]="event.venue_address"
                formControlName="venueAddress" placeholder="Address" rows="3"></textarea>

              <div *ngIf="submitted && f['venueAddress'].errors" class="text-danger">
                <div *ngIf="f['venueAddress'].errors.required">Address is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i>
            Submit</button>
          &nbsp;
          <a class="btn back-btn" routerLink="/events">
            <button class="btn btn-sm btn-danger back-button" type="button"><i class="icon-arrow-left-circle"></i>
              Back</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>