<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Dispute Detail</h1>
          <a class="btn back-btn" routerLink="/disputes"><i class="icon-arrow-left-circle" aria-hidden="true"></i></a>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div *ngIf="error" class="alert alert-danger" role="alert">
              There was an error
            </div>
            <div *ngIf="!error && !dispute">Loading...</div>
            <div *ngIf="dispute" class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ dispute.users.name }}</h6>
              </div>
              <div class="card-body user-detail">
                <div *ngIf="!dispute.user_unique_id" class="text-danger"><b>Dispute Detail not found</b></div>
                <div>
                  <div class="col-sm-12">
                    
                    <div class="row">
                      <div class="col-12 col-sm-3"><b>Username</b></div>
                      <div class="col-12 col-sm-9">
                        <span *ngIf="dispute.users.user_name; else notAvailable">{{dispute.users.user_name}} </span>
           
                      </div>
                    </div>

                     <div class="row">
                      <div class="col-12 col-sm-3"><b>User Unique Id</b></div>
                      <div class="col-12 col-sm-9" *ngIf="dispute.users.user_unique_id; else notAvailable">
                        {{dispute.users.user_unique_id}}</div>
                    </div>

                    <div class="row">
                      <div class="col-12 col-sm-3"><b>First Name</b></div>
                      <div class="col-12 col-sm-9" *ngIf="dispute.users.first_name; else notAvailable">{{dispute.users.first_name}}</div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-3"><b>Last Name</b></div>
                      <div class="col-12 col-sm-9" *ngIf="dispute.users.last_name; else notAvailable">{{dispute.users.last_name}}</div>
                    </div>

                    <div class="row">
                      <div class="col-12 col-sm-3"><b>Email</b></div>
                      <div class="col-12 col-sm-9" *ngIf="dispute.users.email; else notAvailable">{{dispute.users.email}}</div>
                    </div>

                    <div class="row">
                      <div class="col-12 col-sm-3"><b>Phone Number</b></div>
                      <div class="col-12 col-sm-9" *ngIf="dispute.users.phone_number; else notAvailable">{{dispute.users.phone_number}}</div>
                    </div>

                    <div class="row">
                      <div class="col-12 col-sm-3"><b>Contest Name</b></div>
                      <div class="col-12 col-sm-9" *ngIf="dispute.contest; else notAvailable">{{dispute.contest.contest_name}}</div>
                    </div>
                   
                    <div class="row">
                      <div class="col-12 col-sm-3"><b>Dispute Message</b></div>
                      <div class="col-12 col-sm-9" *ngIf="dispute.dispute_message; else notAvailable"><b>{{dispute.dispute_message}}</b></div>
                    </div>

                      <div class="row">
                      <div class="col-12 col-sm-3"><b>Status</b></div>
                      <div class="col-12 col-sm-9" *ngIf="!enableEdit; else editStatus">
                        <span class="badge" style="font-size:12px;"
                          [ngClass]="{'badge-success': (dispute.status == 2), 'badge-secondary': (dispute.status == 1), 'badge-danger': (dispute.status == 0)}">{{disputeStatus[dispute.status]}}</span>
                          &nbsp; &nbsp;
                          <button (click)="toggleEditStatus()" class="btn btn-info btn-sm"><i class="fa fa-edit"></i>
                          Edit</button>
                      </div>
                    </div>  
                    <!--edit status template -->
                      <ng-template #editStatus>
                        <form class="col-12 col-sm-9 form-inline" (ngSubmit)="handleEditStatus()">
                          <select class="form-control"  placeholder="Select Status" name="status" [(ngModel)]="dispute.status">
                            <option *ngFor="let status of disputeStatus | keyvalue" [value]="status.key">
                              {{status.value}}
                            </option>
                          </select>

                          &nbsp;<button class="btn btn-sm btn-primary" type="submit">Submit</button>
                          &nbsp;<button class="btn btn-sm btn-danger" (click)="toggleEditStatus()">Cancel</button>
                        </form>
                      </ng-template>
                    <!--end edit status template-->

                  </div>
                </div>
                <ng-template #notAvailable>
                  <div class="col-12 col-sm-9 font-italic text-danger">Not Available</div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-loader></app-loader>
