<div class="row">
  <div class="col-lg-12">
    <div class="card filter">
      <!--filter-->
      <div class="card-header d-flex justify-content-between">
        <div class="row">
          <h1 class="h3 mb-0 text-gray-800">{{ 'agent.agentMng' | translate}}</h1>
        </div>
        <a class="btn back-btn" href="javascript:void(0)" (click)="goBack()">
          <i class="icon-arrow-left-circle" aria-hidden="true"></i>
        </a>
      </div>
      <!---->
  
      <div class="card-body custom-listing-table">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <button class="btn btn-sm btn-primary create-button" type="button"><a href="javascript:void(0);" [routerLink]="['/agent/new']">
              <i class="nav-icon icon-plus"></i> {{ 'agent.create' | translate}}</a>
            </button>
            <h5 class="mb-0 text-gray-800">{{ 'agent.totalRecord' | translate}}: {{totalAgents}}</h5>
        </div>
        <table class="table table-responsive-sm table-bordered table-striped table-sm admin-table">
          <thead>
            <tr>
              <th>{{ 'agent.username' | translate}}</th>
              <th>{{ 'agent.name' | translate}}</th>
              <th>{{ 'agent.phone' | translate}} </th>
              <th> {{ 'agent.score' | translate}}</th>
              <th>{{ 'agent.lastLogin' | translate}}</th>
              <th>{{ 'agent.status' | translate}} </th>
              <th>{{ 'agent.action' | translate}} </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="error">
              <td colspan="7" class="table-danger">{{ 'agent.errorText' | translate}} </td>
            </tr>
            <tr *ngIf="!error && !agentList">
              <td colspan="7">{{ 'agent.loading' | translate}}...</td>
            </tr>
            <tr *ngIf="agentList && !(agentList.length>0)">
              <td colspan="7" class="text-center">{{ 'agent.notFound' | translate}}</td>
            </tr>
            <tr *ngFor="let agent of agentList; let agentIndex = index">
              <!-- <td class="username" (click)="checkSubAgent(agent)">{{ agent.username || "-" }}</td> -->
              <td class="username" routerLink="{{agent.admin_id}}" >{{ agent.username || "N/A" }}</td>
              <td>{{ agent.name || "N/A" | titlecase }}</td>
              <td>{{ agent.phone || "N/A" }}</td>
              <td>{{ agent.balance}}</td>
              <td>{{ formatDateTimeZone(agent.last_login) | date: dateFormatString}} </td>
              <td>
                <span class="badge"
                  [ngClass]="{'badge-success': (agent.status == 1), 'badge-secondary': (agent.status == 0), 'badge-danger': (agent.status > 1)}">{{AgentStatus[agent.status]
                  }}</span>
              </td>
              <td>
                <button href="javascript:void(0);" class="btn-warning" [routerLink]="['set-score', agent.admin_id]"> {{'agent.setScore' | translate}} </button>
                <button href="javascript:void(0);" class="btn-warning" [routerLink]="['score-log', agent.admin_id]"> {{'agent.scoreLog' | translate}} </button>
                <button href="javascript:void(0);" class="btn-warning" [routerLink]="['edit', agent.admin_id]"> {{'agent.edit' | translate}} </button>
                <!-- <button href="javascript:void(0);" class="btn-warning" [routerLink]="['report', agent.admin_id]"> {{'agent.reports' | translate}} </button> -->
                <button href="javascript:void(0);" *ngIf="agent.status == 0" class="btn-warning" (click)="changeAgentStatus(agent.admin_id, '1')">{{ 'agent.enable' | translate}}</button>
                <button href="javascript:void(0);" *ngIf="agent.status == 1" class="btn-warning" (click)="changeAgentStatus(agent.admin_id, '0')">{{ 'agent.disable' | translate}}</button>
              </td>
            </tr>
          </tbody>
        </table>
        <nav *ngIf="totalAgents > params.per_page">
          <ul class="pagination">
            <li class="page-item" *ngIf="params.current_page > 1">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">Prev</a>
            </li>
            <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"
              *ngFor="let page of totalPaginationShow">
              <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
            </li>
            <li class="page-item" *ngIf="params.current_page != totalPages">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">Next</a>
            </li>
            <li class="page-item">
              <div class="page-jump">
                <span > Jump to </span>
                <input type="text" name="jump_to"  [(ngModel)]="jump_to" />
                <span> Page </span>
              </div>
              <div class="page-jump-btn">
                <button href="javascript:void(0);" class="page-link go-btn" (click)="jumpAnotherPage(checkLastPage)"> Go </button>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<app-user-list></app-user-list>


<app-loader></app-loader>
