<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4>Select League</h4>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="radio-tile-group">
            <div class="input-container" *ngFor="let league of leagues">
              <input id="{{league.league_url_name}}" class="radio-button" type="radio" name="league-radio"
                (click)="setLeague(league)" />
              <div class="radio-tile">
                <i class="{{league.icon}} fa-5x"></i>
                <label class="radio-tile-label">{{league.league_abbr}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="gameStyles.length > 0">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4>Select Game Style</h4>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="radio-tile-group">
            <div class="input-container" *ngFor="let gameStyle of gameStyles">
              <input id="gameStyle.abbr" class="radio-button" type="radio" name="style-radio"
                (click)="setGameStyle(gameStyle)" />
              <div class="radio-tile">
                <label class="radio-tile-label">{{gameStyle.name}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="selectedGameStyle">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4>Select Size Type</h4>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="radio-tile-group">
            <div class="input-container" *ngFor="let sizeType of sizeTypes">
              <input id="sizeType.abbr" class="radio-button" type="radio" name="size-radio"
                (click)="setSizeType(sizeType)" />
              <div class="radio-tile">
                <label class="radio-tile-label">{{sizeType.name}}</label>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-lg pull-right"
          [disabled]="!selectedLeague || !selectedGameStyle || !selectedSizeType" (click)="done()">Done</button>
      </div>
    </div>
  </div>
</div>
