<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          
          <div class="col-12 col-sm-6">
            <div class="input-group">
              <select class="form-control" [(ngModel)]="params['status']" placeholder="Select a status" name="status">
                <option value="-1">Select a status</option>
                <option *ngFor="let status of disputeStatus | keyvalue" [value]="status.key">
                  {{status.value}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-12 col-sm-3">
            <span class="input-group-prepend">
              <button class="btn btn-primary" type="button" (click)="searchFilter();"> <i class="fa fa-filter"></i>
                Filter</button>&nbsp;
            </span>

          </div>
        </div>
        <form class="row mt-1">
          <div class="col-12 col-sm-6">
            <div class="input-group">
              <input class="form-control" [(ngModel)]="params['keyword']" id="search_keyword" type="text"
                name="search_keyword" placeholder="Search by username, email"
                (ngModelChange)="search()" autocomplete="off">
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <!-- <button class="btn btn-primary" type="submit" (click)="searchFilter();">
              <i class="fa fa-search"></i> Search</button>&nbsp; -->
            <button class="btn btn-warning" (click)="searchFilter('reset');"><i class="fa fa-refresh"></i>
              Reset Filters</button>
          </div>
        </form>
      </div>
      <div class="card-body custom-listing-table">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Dispute Resolution</h1>
          <h5 class="mb-0 text-gray-800">Total Record : {{totalDisputes}}</h5>
        </div>
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Contest Name</th>
              <th>Username</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="error">
              <td colspan="9" class="table-danger">There was an error</td>
            </tr>
            <tr *ngIf="!error && !disputeList">
              <td colspan="9">Loading...</td>
            </tr>
            <tr *ngIf="disputeList && !(disputeList.length>0)">
              <td colspan="9" class="text-center">No Dispute found</td>
            </tr>
            <tr *ngFor="let dispute of disputeList; let disputeIndex = index">
              <td>
                <p *ngIf="dispute.contest">{{ dispute.contest.contest_name || "-" }} </p>
              </td>
              <td>{{ dispute.users.user_name || "-" }} </td>
              <td>{{ dispute.users.name || "-" }}</td>
              <td>{{ dispute.users.email || "-" }}</td>
              <td>{{ dispute.users.phone_number || "-" }}</td>

              <td>

                <span class="badge"
                  [ngClass]="{'badge-success': (dispute.status == 2), 'badge-secondary': (dispute.status == 1), 'badge-danger': (dispute.status == 0)}">{{disputeStatus[dispute.status]
                  }}</span>
              </td>
              <td>

                <a routerLink="/disputes/{{dispute.dispute_id}}"><i class="fa fa-address-book"></i>Details</a>
                &nbsp;

                <a href="javascript:void(0);" data-toggle="modal" data-target="#editModal" (click)="startEdit({
                    status: dispute.status,
										dispute_id: dispute.dispute_id,
                    disputeIndex: disputeIndex
                  })"><i class="fa fa-edit"></i>Edit</a>
              </td>
            </tr>
          </tbody>
        </table>
        <nav *ngIf="disputeList > params.per_page">
          <ul class="pagination">
            <li class="page-item" *ngIf="params.current_page > 1">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">Prev</a>
            </li>
            <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"
              *ngFor="let page of totalPaginationShow">
              <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
            </li>
            <li class="page-item" *ngIf="params.current_page != totalPages">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<app-edit-dispute [dispute]="currentDispute" (editedStatus)="onStatusEdit($event)"></app-edit-dispute>

<app-loader></app-loader>
