<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body custom-listing-table">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">{{'redPacket.redPacket' | translate}}
          <button class="btn btn-sm btn-primary create-button" type="button"><a href="javascript:void(0);" (click)="gameCategoryModel()">
            <i class="nav-icon icon-plus"></i> {{ 'redPacket.category' | translate}}</a></button>
          </h1>
          <h5 class="mb-0 text-gray-800"> {{'redPacket.totalRecord' | translate}} : {{totalAdv}}</h5>
        </div>
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>{{'redPacket.min' | translate}}</th>
              <th>{{'redPacket.max' | translate}}</th>
              <th>{{'redPacket.dropMinAmt' | translate}}</th>
              <th>{{'redPacket.dropMaxAmt' | translate}}</th>
              <th>{{'redPacket.dropRate' | translate}}</th>
              <th>{{'redPacket.status' | translate}}</th>
              <th>{{'redPacket.action' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="error">
              <td colspan="9" class="table-danger">There was an error</td>
            </tr>
            <tr *ngIf="!error && !advList">
              <td colspan="9">{{'advertisement.loading' | translate}}...</td>
            </tr>
            <tr *ngIf="advList && !(advList.length>0)">
              <td colspan="9" class="text-center"> {{'redPacket.notFound' | translate}}</td>
            </tr>
            <tr *ngFor="let pkt of advList; let agentIndex = index">
              <td>{{ pkt.min }}</td>
              <td>{{ pkt.max }}</td>
              <td>{{ pkt.drop_min_amount }} </td>
              <td>{{ pkt.drop_max_amount }}</td>
              <td>{{pkt.drop_rates}} </td>

              <td *ngIf="!pkt.isEditabel">
                <span class="badge"
                  [ngClass]="{'badge-secondary': (pkt.status == 1), 'badge-success': (pkt.status == 0), 'badge-danger': (pkt.status > 1)}">{{AdvStatus[pkt.status]
                  }}</span>
              </td>
              <td *ngIf="pkt.isEditabel">
                <select class="form-control" placeholder="Select Status" name="kyc_type" name="status"
                  [(ngModel)]="pkt.status" [disabled]="!pkt.isEditabel">
                  <option *ngFor="let status of AdvStatus | keyvalue" [value]="status.key">
                    {{status.value}}
                  </option>
                </select>
              </td>
              <td>

                <a href="javascript:void(0);" *ngIf="!pkt.isEditabel" (click)="pkt.isEditabel = !pkt.isEditabel"><i
                    class="fa fa-edit action-icon"></i>
                    <!-- {{'advertisement.edit' | translate}} -->
                  </a>
                <a href="javascript:void(0);" *ngIf="pkt.isEditabel" (click)="onStatusSubmit(pkt)"><i
                    class="fa fa-save action-icon"></i>
                    <!-- {{'advertisement.save' | translate}} -->
                </a>

                <a href="javascript:void(0);" (click)="openConfirmationDialog(pkt)">
                  <i class="fa fa-trash action-icon" aria-hidden="true"></i> 
                </a>

              </td>
            </tr>
          </tbody>
        </table>


        <!-- The Model End -->
        <nav *ngIf="totalAdv > params.per_page">
          <ul class="pagination">
            <li class="page-item" *ngIf="params.current_page > 1">
              <a class="page-link" href="javascript:void(0);"
                (click)="nextOrPreviousPage(-1)">{{'advertisement.prev' | translate}}</a>
            </li>
            <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"
              *ngFor="let page of totalPaginationShow">
              <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
            </li>
            <li class="page-item" *ngIf="params.current_page != totalPages">
              <a class="page-link" href="javascript:void(0);"
                (click)="nextOrPreviousPage(1)">{{'advertisement.next' | translate}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>


<!-- Category Modal Start-->
<div class="modal fade" id="gameCategoryModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4> Update Red Packet 
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body" *ngIf="categories">
        <div>
            <table class="table table-responsive-sm table-bordered table-sm">
              <thead>
                <tr>
                  <th>{{'redPacket.category' | translate}}</th>
                  <th>{{'redPacket.time' | translate}}</th>
                  <th>{{'redPacket.action' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cat of categories; let catIndex = index">
                  <td>{{cat.game_type}}</td>
                  <td>
                    <input class="form-control" placeholder="Set Time" name="time" [(ngModel)]="cat.redpacket_time" [readonly]="isCategoryEditabel !== cat.game_type_id">
                  </td>
                  <td>
                    <a href="javascript:void(0);" (click)="timingEditable(cat.game_type_id)" [hidden]="isCategoryEditabel == cat.game_type_id">
                      <i class="fa fa-pencil-square-o action-icon" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0);" [hidden]="isCategoryEditabel !== cat.game_type_id" (click)="updateTiming(cat)"> 
                      <i class="fa fa-floppy-o action-icon" aria-hidden="true"></i>
                    </a>

                  </td>
                </tr>
              </tbody>
            </table>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- Category Model End -->


<!-- Delete Red packet-->
<div class="modal fade" id="openConfirmationDialog">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
          <h4 class="modal-title">{{ title }}</h4>
          <button type="button" class="btn btn-danger" data-dismiss="modal"> Cancel </button>
          <button type="button" class="btn btn-primary" (click)="deleteRedPacket(this.packet)"> Ok </button>
        </div>
    </div>
  </div>
</div>
<!-- End -->

<app-loader></app-loader>
