<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Event Detail</h1>
          <a class="btn back-btn" routerLink="/events"><i class="icon-arrow-left-circle" aria-hidden="true"></i></a>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div *ngIf="error" class="alert alert-danger" role="alert">
              There was an error
            </div>
            <div *ngIf="!error && !event">Loading...</div>
            <div *ngIf="event" class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ event.event_name | titlecase }}</h6>
              </div>
              <div class="card-body user-detail">
                <div *ngIf="!event" class="text-danger"><b>User not found</b></div>
                <div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row event-row">
                        <div class="col-12 col-sm-3"><b>Event Name</b></div>
                        <div class="col-12 col-sm-9" *ngIf="event.event_name; else notAvailable">
                          {{event.event_name | titlecase}}</div>
                      </div>
                      <div class="row event-row">
                        <div class="col-12 col-sm-3"><b>Venue Name</b></div>
                        <div class="col-12 col-sm-9" *ngIf="event.venue_name; else notAvailable">
                          {{event.venue_name | titlecase}}</div>
                      </div>
                      <div class="row event-row">
                        <div class="col-12 col-sm-3"><b>Event Date</b></div>
                        <div class="col-12 col-sm-9" *ngIf="event.event_datetime; else notAvailable">
                          {{formatDateTimeZone(this.event.event_datetime)| date:dateFormatString }}</div>
                      </div>

                      <div class="row event-row">
                        <div class="col-12 col-sm-3"><b>Promotion</b></div>
                        <div class="col-12 col-sm-9" *ngIf="event.promotion_id; else notAvailable">
                          {{event.promotion_name}}</div>
                      </div>
                      <div class="row event-row">
                        <div class="col-12 col-sm-3"><b>Venue City</b></div>
                        <div class="col-12 col-sm-9" *ngIf="event.venue_city; else notAvailable">
                          {{event.venue_city | titlecase}}</div>
                      </div>
                      <div class="row event-row">
                        <div class="col-12 col-sm-3"><b>Venue Address</b></div>
                        <div class="col-12 col-sm-9" *ngIf="event.venue_address; else notAvailable">
                          {{event.venue_address | titlecase}}</div>
                      </div>
                      <div class="row event-row">
                        <div class="col-12 col-sm-3"><b>Venue ZipCode</b></div>
                        <div class="col-12 col-sm-9" *ngIf="event.venue_zipcode; else notAvailable">
                          {{event.venue_zipcode | titlecase}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #notAvailable>
                  <div class="col-12 col-sm-9 font-italic text-danger">Not Available</div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div *ngIf="error" class="alert alert-danger" role="alert">
              There was an error
            </div>
            <div *ngIf="!error && !event">Loading...</div>
            <div *ngIf="tournaments" class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Match Details</h6>
              </div>
              <div class="card-body user-detail">
                <div *ngIf="!tournaments" class="text-danger"><b>Match not found</b></div>
                <div>
                  <div class="row">
                    <ul class="week-matches" *ngIf="tournaments.length > 0">
                      <li *ngFor="let match of tournaments" class="match-block">
                        <a href="javascript:void(0)"
                          >
                          <span>{{match.home_fighter_first_name}} vs {{match.away_fighter_first_name}}</span>
                          <div class="match-datetime">{{match.scheduled_date_time | date: dateFormatString }}</div>
                        </a>
                    </ul>
                  </div>
                </div>
                <ng-template #notAvailable>
                  <div class="col-12 col-sm-9 font-italic text-danger">Not Available</div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <app-loader></app-loader>