<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Player Details</h1>
          <a class="btn back-btn" routerLink="/users"><i class="icon-arrow-left-circle" aria-hidden="true"></i></a>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div *ngIf="error" class="alert alert-danger" role="alert">
              There was an error
            </div>
            <div *ngIf="!error && !user">Loading...</div>
            <div *ngIf="user" class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ user.first_name | titlecase }} {{ user.last_name | titlecase }}</h6>
              </div>
              <div class="card-body user-detail">
                <div *ngIf="!user.user_unique_id" class="text-danger"><b>User not found</b></div>
                <div>
                  <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-12 col-sm-3"><b>Player Name</b></div>
                      <div class="col-12 col-sm-9" *ngIf="user.name; else notAvailable">{{user.name}}</div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-3"><b>Username</b></div>
                      <div class="col-12 col-sm-9" *ngIf="user.username; else notAvailable">{{user.username}}</div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-3"><b>Balance</b></div>
                      <div class="col-12 col-sm-9" *ngIf="user.balance; else notAvailable">{{user.balance}}</div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-3"><b>Phone</b></div>
                      <div class="col-12 col-sm-9" *ngIf="user.phone; else notAvailable">{{user.phone}}</div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-3"><b>Agent Name</b></div>
                      <div class="col-12 col-sm-9" *ngIf="user.agent_username; else notAvailable">{{user.agent_username}}</div>
                    </div>

                    <div class="row">
                      <div class="col-12 col-sm-3"><b>Status</b></div>
                      <div class="col-12 col-sm-9" *ngIf="user.status; else notAvailable">
                        <span class="badge" style="font-size:12px;"
                          [ngClass]="{'badge-success': (user.status == 1), 'badge-secondary': (user.status == 0), 'badge-danger': (user.status > 1)}">{{userStatus[user.status]}}</span>
                      </div>
                    </div>            
                    <div class="row">
                      <div class="col-12 col-sm-3"><b>Description</b></div>
                      <div class="col-12 col-sm-9" *ngIf="user.description; else notAvailable">{{user.description}}</div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-12 col-sm-3"><b>Last IP</b></div>
                      <div class="col-12 col-sm-9" *ngIf="user.last_ip; else notAvailable">{{user.last_ip}}</div>
                    </div> -->
                    <div class="row">
                      <div class="col-12 col-sm-3"><b>Last Login</b></div>
                      <div class="col-12 col-sm-9" *ngIf="user.last_login; else notAvailable">
                        {{formatDateTimeZone(this.user.last_login)| date:dateFormatString }}</div>
                    </div>
                  </div>
                
                </div>
                </div>
                <ng-template #notAvailable>
                  <div class="col-12 col-sm-9 font-italic text-danger">Not Available</div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
       

      </div>
    </div>
  </div>
  <app-loader></app-loader>
