<!-- /.row-->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <!-- <div class="input-group select-status col-12 col-sm-3">
            <select class="form-control" [(ngModel)]="params['status']" name="status">
              <option value="">Select a status</option>
              <option *ngFor="let status of contestStatus | keyvalue" [value]="status.key">
                {{status.value}}
              </option>
            </select>
          </div> -->
          <!-- <div class="col-sm-1 entry-fees">Entry Fees: </div>
          <div class="col-12 col-sm-6 custom-filter">
            <ng5-slider [(value)]="params.min_entry_fee" [(highValue)]="params.max_entry_fee" [options]="options">
            </ng5-slider>
          </div> -->

          <!-- <span class="col-sm-1 filter-btn">
            <button class="btn btn-primary" type="submit" (click)="searchFilter();">
              <i class="fa fa-filter"></i> Filter</button>&nbsp;
          </span> -->
        </div>
        <div class="row mt-1">
          <form class="col-12 col-sm-10">
            <div class="input-group">
              <input class="form-control" [(ngModel)]="params['keyword']" id="search_keyword" type="text"
                name="search_keyword" placeholder="Search by name...">
              <span class="input-group-prepend">
                <button class="btn btn-primary" type="submit" (click)="searchFilter();">
                  <i class="fa fa-search"></i> Filter</button>
              </span>
            </div>
          </form>
          <div class="col-12 col-sm-2">
            <button class="btn btn-warning" (click)="searchFilter('reset');"><i class="fa fa-refresh"></i>
              Reset Filters</button>
          </div>
        </div>
      </div>
      <div class="card-body competitions-list">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Event
            <button class="btn btn-sm btn-primary create-button" type="button"><a href="javascript:void(0);" [routerLink]="['/events/create-new']">
              <i class="nav-icon icon-plus"></i> Create</a></button>
          </h1>
        </div>
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>#ID</th>
              <th>Event Name</th>
              <th>Venue Name</th>
              <th>Venue Address</th>
              <th>Venue City</th>
              <th>Event At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="eventList && !(eventList.length>0)">
              <td colspan="9" class="text-center">No Event Found</td>
            </tr>

            <tr *ngFor="let event of eventList">
              <td>{{ event.event_id }}</td>
              <td>{{ event.event_name }}</td>
              <td>{{ event.venue_name }}</td>
              <td>{{ event.venue_address }}</td>
              <td>{{ event.venue_city }}</td>
              <td>{{ formatDateTimeZone(event.event_datetime) | date: dateFormatString }}</td>
              <td>
                <a routerLink="/events/{{event.event_id}}"><i class="icon-list"></i>&nbsp;Details</a>&nbsp;
                <a routerLink="/events/{{event.event_id}}/edit"><i class="fa fa-edit"></i>&nbsp;Edit</a>&nbsp;
                <a href="javascript:void(0);" (click)="deleteConfirm(event)"><i class="fa fa-trash"></i> Delete</a> &nbsp;
              </td>
            </tr>
          </tbody>
        </table>
        <nav *ngIf="totalEvent > params.per_page">
          <ul class="pagination">
            <li class="page-item" *ngIf="params.current_page > 1">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(-1)">Prev</a>
            </li>
            <li class="page-item active" [ngClass]="{'active': (page == params.current_page)}"
              *ngFor="let page of totalPaginationShow">
              <a class="page-link" href="javascript:void(0);" (click)="paginateList(page)">{{ page }}</a>
            </li>
            <li class="page-item" *ngIf="params.current_page != totalPages">
              <a class="page-link" href="javascript:void(0);" (click)="nextOrPreviousPage(1)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!-- /.col-->
</div>
<!-- Delete Modal Start-->
<div class="modal fade" id="deleteConfirm">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="currentEvent">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4> {{currentEvent.event_name | titlecase}}
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        </h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {{confirmbMessage}}
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete();">Delete</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
<!-- Delete Model End -->
<!-- /.row-->

<!-- <app-edit-contest (cancelContest)="handleCancelContest()"
  (confirmedOrCancelled)="handleConfirmationOrCancellation($event)"></app-edit-contest>
 -->
 <app-loader></app-loader>

