.card-title i {
  float: right;
  color: #20a8d8;
}

.stats-card {
  min-height: 130px;

  .card-title {
    font-size: 16px;
  }

  p.card-text {
    color: #20a8d8;
    font-size: 25px;
    font-weight: 600;
  }
}

.list-card {
  height: 250px;
  overflow-y: auto;
}
