.btn-warning{
    margin-right: 5px;
    color: #fff;
    border: none;
}

.username {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.back-btn {
  padding: 0;
  font-size: 1.53125rem;
}

.player-btn {
  margin-bottom: 10px;
  
  button {
    background: none;
    border: none;
  }

  button:hover {
    background: #20a8d8;
  }
}
.page-jump {
  float: left;
  padding: 4px;
  color: #6d6161;

  input {
      width: 50px;
      text-align: center;
  }
}
.page-jump-btn {
  float: right;
}
table {
  tr {
      text-align: center;
  }
  td {
      text-align: center;
  }
}