<div class="row">
  <div class="col-lg-12">
    <div class="card filter">
      <form class="form-horizontal" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="card-header">
          <strong>{{'playerLoginIn.queryplPlayerLoginIn' | translate}}</strong>
          <a class="btn back-btn" href="javascript:void(0)" (click)="goBack()">
            <i class="icon-arrow-left-circle" aria-hidden="true"></i>
          </a>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <!-- <label class="col-md-2 col-form-label" for="username">{{'playerLoginIn.userName' | translate}}<span class="text-danger">*</span></label> -->
            <div class="col-md-6 col-lg-4">
              <div class="d-flex justify-contant-between w-100 align-items-center player-login-ip">
                <label class="col-form-label" for="username">{{'playerLoginIn.userName' | translate}}<span class="text-danger">*</span></label>
                <span> {{'playerLoginIn.last' | translate}} 10</span>
              </div>
              <input type="text" class="form-control" formControlName="username" placeholder="{{'playerLoginIn.enter' | translate}}">
              <div *ngIf="submitted && f['username'].errors" class="text-danger">
                <div *ngIf="f['username'].errors.required">{{'playerLoginIn.userNameIsRequired' | translate}}</div>
              </div>
            </div>
            <!-- <div class="col-md-4"><span> {{'playerLoginIn.last' | translate}} 10</span></div> -->
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i>
            {{'playerLoginIn.submit' | translate}}</button>
          &nbsp;
          <button class="btn btn-sm btn-danger" type="button" (click)="handleReset()"><i class="fa fa-ban"></i>
            {{'playerLoginIn.reset' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- LoginIP data List -->
<div class="row" *ngIf="showLoginIPList  === true">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-12 col-sm-6">
            <h4>{{'playerLoginIn.dataList' | translate}} </h4>
          </div>
        </div>
      </div>

      <div class="card-body custom-listing-table">

        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>{{'playerLoginIn.userName' | translate}}</th>
              <th>{{'playerLoginIn.ipAddress' | translate}}</th>
              <th>{{'playerLoginIn.dateTime' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="error">
              <td colspan="3" class="table-danger">There was an error</td>
            </tr>
            <tr *ngIf="!error && !palyerIPList">
              <td colspan="3">Loading...</td>
            </tr>
            <tr *ngIf="palyerIPList && !(palyerIPList.length>0)">
              <td colspan="9" class="text-center">{{'playerLoginIn.noLoginIpFound' | translate}}</td>
            </tr>
            <tr *ngFor="let dat of palyerIPList; let playerIndex = index">
              <td>{{ dat.username }}</td>
              <td>{{ dat.ip }}</td>
              <td>{{ dat.created_at }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- LoginIP data List end -->
<app-loader></app-loader>
