<div class="row">
  <div class="col-lg-12">
    <div class="card filter">
        <div class="card-header d-flex justify-content-between">
          <strong>{{'appVersion.changeVersion' | translate}}</strong>
          <a class="btn back-btn" href="javascript:void(0)" (click)="goBack()">
            <i class="icon-arrow-left-circle" aria-hidden="true"></i>
          </a>
        </div>
        <div class="card-body">

          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="version">{{'appVersion.android' | translate}}<span
                class="text-danger">*</span></label>
            <div class="col-md-2">
              <input type="text" class="form-control" id="android_version" [(ngModel)]="version.android_version" placeholder="{{'appVersion.version' | translate}}" />
            </div>    
            <div class="col-md-8">
              <input type="text" class="form-control" id="android_link" [(ngModel)]="version.android_link" placeholder="{{'appVersion.url' | translate}}" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="link">{{'appVersion.ios' | translate}}<span
                class="text-danger">*</span></label>
            <div class="col-md-2">
              <input type="text" class="form-control" id="ios_version" [(ngModel)]="version.ios_version" placeholder="{{'appVersion.version' | translate}}" />
            </div>
            <div class="col-md-8">
              <input type="text" class="form-control" id="ios_link" [(ngModel)]="version.ios_link" placeholder="{{'appVersion.url' | translate}}" />
            </div>
          </div>

        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-primary" type="submit" (click)="updateAppVersion(version.id)"><i class="fa fa-dot-circle-o"></i>
            {{'appVersion.submit' | translate}}</button>
          &nbsp;
          <button class="btn btn-sm btn-danger" type="button" (click)="handleReset()"><i class="fa fa-ban"></i>
            {{'appVersion.reset' | translate}}</button>
        </div>
    </div>
  </div>
</div>
